{% load i18n %}
<li class="dropdown">
    {% get_current_language as LANGUAGE_CODE %}
    {% get_language_info for LANGUAGE_CODE as lang %}
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> {{ lang.name_local }} <span
            class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <li><a href="/{{ language.code }}{{ request.path_info|slice:"3:" }}">{{ language.name_local }}</a></li>
        {% endfor %}

    </ul>
</li>