{% load i18n  new_tags %}
{% if is_paginated %}
    <div class="pagination">
        {% if page_obj.has_previous %}
            <li class="previous"><a
                    href="?q={{ query }}&amp;page={{ page_obj.previous_page_number }}">&laquo; {% trans 'Previous' %}</a>
            </li>
        {% else %}
            <li class="previous disabled"><a href="">&laquo; {% trans 'Previous' %}</a></li>
        {% endif %}
        {% if page_obj.paginator.num_pages > 1 %}

            {% if page_obj.has_previous %}

                {% if page_obj.previous_page_number == 1 %}
                    <li>
                        <a href="?q={{ query }}&amp;page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                        {#                            <a href="{{ base_url }}">{{ page_obj.previous_page_number }}</a>#}
                    </li>
                {% else %}
                    <li>
                        <a href="?q={{ query }}&amp;page=1">1</a>
                    </li>
                    {% if page_obj.previous_page_number != 2 %}
                        {% if page_obj.previous_page_number == 3 %}
                            <li>
                                <a href="?q={{ query }}&amp;page=2">2</a>
                            </li>
                        {% else %}
                            <li>
                                <span>…</span>
                            </li>
                        {% endif %}
                    {% endif %}
                    <li>
                        <a href="?q={{ query }}&amp;page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                    <li>
                {% endif %}
            {% endif %}

            <li class="active"><span>{{ page_obj.number }} <span class="sr-only">(current)</span></span></li>

            {% if page_obj.has_next %}
                {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
                    <li>
                        <a href="?q={{ query }}&amp;page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                    </li>
                    {% if page_obj.next_page_number|add:"1" != page_obj.paginator.num_pages %}
                        {% if page_obj.next_page_number == page_obj.paginator.num_pages|add:"-2" %}
                            <li>
                                <a href="?q={{ query }}&amp;page={{ page_obj.paginator.num_pages|add:"-1" }}">{{ page_obj.paginator.num_pages|add:"-1" }}</a>
                            </li>
                        {% else %}
                            <li>
                                <span>…</span>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endif %}
                <li>
                    <a href="?q={{ query }}&amp;page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                </li>
            {% endif %}
        {% endif %}

        {% if page_obj.has_next %}
            <li class="next"><a
                    href="?q={{ query }}&amp;page={{ page_obj.next_page_number }}">{% trans 'Next' %} &raquo;</a>
            </li>
        {% else %}
            <li class="next disabled"><a href="">{% trans 'Next' %} &raquo;</a></li>
        {% endif %}

    </div>
{% endif %}
