{% extends 'user_base.html' %}
{% load i18n %}
{% load bootstrap %}
{% block title %}{% trans 'Log in' %} | {{ block.super }}{% endblock title %}
{% block body_class %}class="login-page"{% endblock body_class %}
{% block content %}
    <div class="login-box">
        <div class="login-logo">
            <a href="/"><b>EVE</b>Portal</a>
        </div><!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">{% trans 'Sign in to start your session' %}</p>

            <form action="{% url 'auth_login_user' %}" method="post">
                {% csrf_token %}

                <div class="form-group has-feedback">
                    {{ form.username.errors }}
                    <input type="text" class="form-control" placeholder="Email or Username" name="username">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>

                <div class="form-group has-feedback">
                    {{ form.password.errors }}
                    <input type="password" class="form-control" placeholder="Password" name="password">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>

                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                <input type="checkbox"> Remember Me
                            </label>
                        </div>
                    </div><!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                    </div><!-- /.col -->
                </div>
            </form>

            {#        <div class="social-auth-links text-center">#}
            {#            <p>- OR -</p>#}
            {#            <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in#}
            {#                using Facebook</a>#}
            {#            <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in#}
            {#                using Google+</a>#}
            {#        </div><!-- /.social-auth-links -->#}

            <a href="{% url 'password_reset' %}">I forgot my password</a><br>
            <a href="{% url 'auth_register_user' %}" class="text-center">Register a new membership</a>

        </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->
{% endblock content %}


{% block extra_script %}



    {% verbatim %}
    <script>

        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });

    </script>
    {% endverbatim %}
{% endblock extra_script %}

