{% extends 'user_base.html' %}
{% load i18n %}



    <title>{% trans 'Login' %}  | {{ block.super }}</title>

{% block content %}
        <div class="login-box">
        <div class="login-logo">
            <a href="/"><b>EVE</b>Portal</a>
        </div><!-- /.login-logo -->
        <div class="login-box-body">
            <h1><p class="login-box-msg">{% trans 'Password Reset Success' %}</p></h1>
            <p class="login-box-msg">{% trans "We've emailed you instructions for setting your password. You should be receiving them shortly." %}</p>
            <p class="login-box-msg">{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>



            <a href="{% url 'auth_login_user' %}">{% trans 'I already have a membership' %}</a><br>
            <a href="{% url 'auth_register_user' %}" class="text-center">{% trans 'Register a new membership' %}</a>

        </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->
{% endblock content %}