{% extends "dashboard/base.html" %}
{% load bootstrap %}
{% load i18n static %}


{% block title %}{% trans 'Password change' %}{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <h1 class="page-header text-center">{% trans 'Change Password' %}</h1>

        <div class="container-fluid">
            <div class="col-md-4 col-md-offset-4">
                <div class="row">
                    <form class="form-signin" role="form" action="" method="POST">
                        {% csrf_token %}
                        {{ form|bootstrap }}
                        <br/>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans 'Change Password' %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
