{% extends 'user_base.html' %}
{% load i18n %}

<title>{% trans 'Login' %} | {{ block.super }}</title>

{% block content %}

    <div class="login-box">
        <div class="login-logo">
            <a href="/"><b>EVE</b>Portal</a>
        </div><!-- /.login-logo -->
        <div class="login-box-body">
            {#            <h1><p class="login-box-msg">{% trans "Password Reset" %}</p></h1>#}
            {#            <p class="login-box-msg">{% trans "Forgotten your password? Enter your email below." %}</p>#}
            {% if validlink %}
                <form action="" method="post">
                    {% csrf_token %}

                    <div class="form-group has-feedback">
                        <input type="password" class="form-control" placeholder="{% trans 'New password' %}"
                               name="new_password1">
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="password" class="form-control"
                               placeholder="{% trans 'New password confirmation' %}" name="new_password2">
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>

                    <div class="form-group has-feedback">
                        <div>
                            <button type="submit"
                                    class="btn btn-primary btn-block btn-flat">{% trans 'Change Password' %}</button>
                        </div>
                    </div>
                </form>
            {% else %}
                <h1><p class="login-box-msg">{% trans "Password reset unsuccessful" %}</p></h1>
                <p class="login-box-msg">{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
                <p></p>
            {% endif %}
            <a href="{% url 'auth_login_user' %}">{% trans 'I already have a membership' %}</a><br>
            <a href="{% url 'auth_register_user' %}" class="text-center">{% trans 'Register a new membership' %}</a>

        </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->
{% endblock content %}