{% extends 'user_base.html' %}
{% load i18n %}

<title>{% trans 'Login' %} | {{ block.super }}</title>

{% block content %}

    <div class="login-box">
        <div class="login-logo">
            <a href="/"><b>EVE</b>Portal</a>
        </div><!-- /.login-logo -->
        <div class="login-box-body">
            <h1><p class="login-box-msg">{% trans "Password Reset" %}</p></h1>
            <p class="login-box-msg">{% trans "Forgotten your password? Enter your email below." %}</p>

            <form action="" method="post">
                {% csrf_token %}

                <div class="form-group has-feedback">
                    <input type="email" class="form-control" placeholder={% trans 'Email' %} name="email">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>

                <div class="form-group has-feedback">
                    <div>
                        <button type="submit"
                                class="btn btn-primary btn-block btn-flat">{% trans 'Reset Password' %}</button>
                    </div>
                </div>
            </form>

            <a href="{% url 'auth_login_user' %}">{% trans 'I already have a membership' %}</a><br>
            <a href="{% url 'auth_register_user' %}" class="text-center">{% trans 'Register a new membership' %}</a>

        </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->
{% endblock content %}