{% extends 'user_base.html' %}
{% load i18n %}

<title>{% trans 'Login' %} | {{ block.super }}</title>
{% block content %}
    <div class="login-box">
        <div class="login-logo">
            <a href="/"><b>EVE</b>Portal</a>
        </div><!-- /.login-logo -->
        <div class="login-box-body">
            <h1><p class="login-box-msg">{% trans 'Password reset complete' %}</p></h1>
            <p class="login-box-msg">{% trans "Your password has been set." %}</p>


            <div class="form-group has-feedback">
                <div>
                    <a href="{% url 'auth_login_user' %}">
                        <button class="btn btn-primary btn-block btn-flat">{% trans 'Log In' %}</button>
                    </a>
                </div>
            </div>


            {#            <a href="{% url 'auth_login_user' %}">{% trans 'I already have a membership' %}</a><br>#}
            <a href="{% url 'auth_register_user' %}" class="text-center">{% trans 'Register a new membership' %}</a>

        </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->

{% endblock content %}