{% load staticfiles %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>

<head>

    <meta charset="UTF-8">
    <title>
        {% block title %}
            EVEPortal
        {% endblock title %}
    </title>
    {#    <title>AdminLTE 2 | Registration Page</title>#}
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.4 -->
    <link rel="stylesheet" href={% static "adminlte/bootstrap/css/bootstrap.min.css" %}>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href={% static "adminlte/dist/css/AdminLTE.min.css" %}>
    <!-- iCheck -->
    <link rel="stylesheet" href={% static "adminlte/plugins/iCheck/square/blue.css" %}>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body {% block body_class %}class="register-page"{% endblock body_class %}>


{% block content %}

{% endblock content %}



<!-- jQuery 2.1.4 -->
<script src={% static "adminlte/plugins/jQuery/jQuery-2.1.4.min.js" %}></script>
<!-- Bootstrap 3.3.4 -->
<script src={% static "adminlte/bootstrap/js/bootstrap.min.js" %}></script>
<!-- iCheck -->
<script src={% static "adminlte/plugins/iCheck/icheck.min.js" %}></script>

{% block extra_script %}

{% endblock extra_script %}


</body>
</html>
