{% extends "dashboard/base.html" %}
{% load new_tags %}
{% load i18n %}
{% block title %}{% trans 'Alliance Auth' %}{% endblock %}

{% block page_title %}{% trans 'page title' %}{% endblock page_title %}
{% load humanize %}

{% block content %}
    <div class="col-lg-12">
        <h1 class="page-header text-center">{% trans 'Тестовая страница'%} {{ var }}</h1>
        <h2 class="sub-header"></h2>

        {# здесь начинается тестовый шаблон #}




{% get_available_languages as languages %}

{% trans "View this category in:" %}
{% for lang_code, lang_name in languages %}
    {% language lang_code %}
    <a href="{% url 'set_language' %}">{{ lang_name }}- {{ lang_code }} - </a>
       <a href="{% change_lang lang_code %}">{{ lang_name }}- {{ lang_code }} </a>
    {% endlanguage %}
{% endfor %}


{% get_available_languages as languages %}
<nav id="language_chooser">
    <ul>
        {% for lang_code, lang_name in languages %}
            {% language lang_code %}
            <li><a href="{% url 'auth_dashboard' %}" alt="{{ lang_name }}" title="{{ lang_name }}">{{ lang_code }}</a></li>
            {% endlanguage %}
        {% endfor %}
    </ul>
</nav>

<nav id="language_chooser">
    <ul>
        {% get_available_languages as languages %}
        {% for lang_code, lang_name in languages %}
            <form action="{% url 'set_language' %}" method="post">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}" />
                <input name="language" type="hidden" value="{{ lang_code }}" />
                <button type="submit">{{ lang_code }}"</button>
            </form>
        {% endfor %}
    </ul>
</nav>
        {# здесь заканчивается тестовый шаблон #}


    </div>
{% endblock content %}