{% extends "dashboard/base.html" %}
{% load i18n %}


{% load bootstrap %}
{% load staticfiles %}
{% block title %}Alliance Auth{% endblock %}

{% block page_title %}Wallet List {{ character }}{% endblock page_title %}

{% load humanize %}

{% block content %}

{% comment %}    <style>
    .dropdown-menu {
        height: 100px;
        overflow-y: scroll;
    }
    </style>{% endcomment %}
    <div class="box">
                <div class="box-header">
                  </div><!-- /.box-header -->
                <div class="box-body">


        <div class="row">
            <div class="col-xs-6 col-md-4">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{ character }} <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        {% for char in characters %}
                            <li><a href="/wallet/journal/{{ char.character_id }}">{{ char }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-md-4 text-center" >
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">

                        {% if type == None %}
                            Undefined
                        {% else %}
                            {{ type }}
                        {% endif %}
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu" style="height: 200px; overflow-y: auto">
                        {% for type in types %}
                            <li><a href="?page={{ wallet_list.number }}&list={{ list }}&type={{ type.refTypeID }}">{{ type.refTypeID }}. {{ type.refTypeName }}</a></li>
                        {% endfor %}
                        <li><a href="?page={{ wallet_list.number }}&list={{ list }}">All</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-md-4 text-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{ list }} <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        {% for list_n in full_list %}
                            {% if type %}
                                <li><a href="?page={{ wallet_list.number }}&list={{ list_n }}&type={{ type.refTypeID }}">{{ list_n }}</a></li>
                            {% else %}
                                <li><a href="?page={{ wallet_list.number }}&list={{ list_n }}">{{ list_n }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>


            </div>
        </div>

        <div class="table-responsive">
            <table  class="table table-striped">
                <thead>
                <tr>
                    <th>Date Time</th> {# Дата и время транзакции #}
                    <th>Type</th> {# Тип транзакции: Налог, Баунти, Продажа #}
                    <th>Amount</th> {# Сумма транзакции #}
                    <th>Balance</th>{# Баланс после транзакции #}
                    <th>description</th>{# Описание #}
                </tr>
                </thead>
                {% for wall in wallet_list %}
                    <tbody>
                    <tr>
                        <td>{{ wall.result_date }}</td>
                        <td>{{ wall.type_id.refTypeID}}. {{ wall.type_id}}</td>
                        <td>{{ wall.result_amount|intcomma }} ISK</td>
                        <td>{{ wall.result_balance }}</td>
                        {% if wall.party_1_name == "CONCORD" %}
                            <td></td>
                        {% else %}
                            <td>{# Если описание это типы неписи, по пропускаем #}{{ wall.result_reason }}</td>
                        {% endif %}
                    </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
        <div class="container">
            <div class="text-center">
                <div class="row">
                    <p class="text-center">
                    <ul class="pagination">
                    {% if wallet_list.has_previous %}
                        {% if type %}


                        <li><a href="?page={{ wallet_list.previous_page_number }}&list={{ list }}&type={{ type.refTypeID }}">&laquo;</a></li>
                        {% else %}
                            <li><a href="?page={{ wallet_list.previous_page_number }}&list={{ list }}">&laquo;</a></li>
                        {% endif %}
                    {% else %}
                        <li class="disabled"><a><span>&laquo;</span></a></li>
                    {% endif %}
                    {% for page in wallet_list.paginator.page_range %}
                        {% if page == wallet_list.number %}
                            {% if type %}
                                <li class="active"><a href="?page={{ page }}&list={{ list }}&type={{ type.refTypeID }}">{{ page }}</a></li>
                            {% else %}
                                <li class="active"><a href="?page={{ page }}&list={{ list }}">{{ page }}</a></li>
                            {% endif %}
                        {% else %}
                            {% if type %}
                                <li><a href="?page={{ page }}&list={{ list }}&type={{ type.refTypeID }}">{{ page }}</a></li>
                            {% else %}
                                <li><a href="?page={{ page }}&list={{ list }}">{{ page }}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% if wallet_list.has_next %}
                        {% if type %}


                        <li><a href="?page={{ wallet_list.next_page_number }}&list={{ list }}&type={{ type.refTypeID }}">&raquo;</a></li>
                        {% else %}
                            <li><a href="?page={{ wallet_list.next_page_number }}&list={{ list }}">&raquo;</a></li>
                        {% endif %}
                    {% else %}
                        <li class="disabled"><a><span>&raquo;</span></a></li>
                    {% endif %}
                </ul>
                    </p>
                </div>

            </div>

        </div>
    </div>
</div>

{% endblock content %}

{% block extra_script %}


{% verbatim %}

{% endverbatim %}

{% endblock extra_script %}