{% extends "dashboard/base.html" %}
{% load i18n %}
{% block title %}Alliance Auth{% endblock %}

{% block page_title %}Something something here{% endblock page_title %}

{% block content %}
    <div class="col-lg-12">

        <h1 class="page-header text-center">Wallet List</h1>
        <h2 class="sub-header">Section title</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Date Time</th>
                  <th>Type</th>
                  <th>Amount</th>
                  <th>Balance</th>
                  <th>description</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>result_date</td>
                  <td>type_id</td>
                  <td>result_amount</td>
                  <td>result_balance</td>
                  <td>result_reason</td>
                </tr>
              </tbody>
            </table>
          </div>




        Date(Дата и время транзакции)
        type (Тип транзакции: Налог, Баунти, Продажа)
        amount (Сумма транзакции)
        balance (Баланс после транзакции)
        description (Описание)





        <div class="container-fluid">
            <div class="col-md-4 col-md-offset-4">
                <div class="row">
                    <p class="text-center">





                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
