{% extends 'accounts/dashboard/layout.html' %}
{% load url from future %}
{% load currency_filters %}
{% load i18n %}

{% block title %}
    {% blocktrans with id=account.id %}Freeze account {{ id }}{% endblocktrans %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
{#    <li>#}
{#		<a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>#}
{#        <span class="divider">/</span>#}
{#    </li>#}
    <li>
		<a href="{% url 'accounts-list' %}">{% trans "Accounts" %}</a>
        <span class="divider">/</span>
    </li>
    <li>
        <a href="{% url 'accounts-detail' account.id %}">{{ account }}</a>
        <span class="divider">/</span>
    </li>
	<li class="active">{% trans "Freeze" %}</li>
</ul>
{% endblock %}

{% block headertext %}{% trans "Freeze account?" %}{% endblock %}

{% block dashboard_content %}
    {% include 'accounts/dashboard/partials/account_detail.html' %}

    <form action="." method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-large btn-danger">{% trans "Freeze" %}</button>
        {% trans "or" %} <a href="{% url 'accounts-list' %}">{% trans "cancel" %}</a>.
    </form>
{% endblock dashboard_content %}
