{% extends 'accounts/dashboard/layout.html' %}
{% load url from future %}
{% load currency_filters %}
{% load i18n %}

{% block title %}
{% trans "Thaw account" %} #{{ account.id }} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
{#    <li>#}
{#		<a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>#}
{#        <span class="divider">/</span>#}
{#    </li>#}
    <li>
		<a href="{% url 'accounts-list' %}">{% trans "Accounts" %}</a>
        <span class="divider">/</span>
    </li>
	<li class="active">{% trans "Thaw account" %} #{{ account.id }}</li>
</ul>
{% endblock %}

{% block headertext %}{% trans "Thaw account?" %}{% endblock %}

{% block dashboard_content %}
    {% include 'accounts/dashboard/partials/account_detail.html' %}
    <form action="." method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-large btn-success">{% trans "Thaw" %}</button>
    </form>
{% endblock dashboard_content %}
