{% extends "dashboard/base.html" %}
{% load i18n %}
{% load bootstrap %}
{% load staticfiles %}

{% block title %}{% trans 'Alliance Auth' %} - {% trans 'SRP Fleet Create' %}{% endblock %}

{% block page_title %}{% trans 'SRP Fleet Create' %}{% endblock page_title %}
{% block extra_css %}
    <link href="{% static 'css/jquery.datetimepicker.css' %}" rel="stylesheet" type="text/css">{% endblock extra_css %}

{% block content %}

    <div class="col-lg-12">
        <h1 class="page-header text-center">{% trans 'Create SRP Fleet' %}</h1>

        <div class="container-fluid">
            <div class="col-md-4 col-md-offset-4">
                <div class="row">
                    {% if completed == False %}
                        <form class="form-signin" role="form" action="" method="POST">
                            {% csrf_token %}
                            {{ form|bootstrap }}
                            <br/>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans 'Create SRP Fleet' %}</button>
                        </form>
                    {% else %}
                        <div class="alert alert-success" role="alert">{% trans 'Fleet Created Successfully!' %}</div>
                        <div class="alert alert-info" role="alert">{% trans 'Give this link to the line members' %} <a
                                href="/srp_request/{{ completed_srp_code }}">{% trans 'Link' %}</a>
                        </div>
                        <div class="alert alert-info" role="alert">
                            http://{{ request.get_host }}/srp_request/{{ completed_srp_code }}</div>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>

{% endblock content %}

{% block extra_script %}

    $('#id_fleet_time').datetimepicker({
    maskInput: true,
    format: 'Y-m-d H:i'
    });

{% endblock extra_script %}
