{% extends "evebank_base.html" %}
{% load tz %}

{% block content %}
    <h1>Active Accounts</h1>
    {% if active_accounts %}
        <table class="table table-striped table-bordered">
            <tr>
                <th>Name</th>
                <th>Balance</th>
                <th>Num Transactions</th>
                <th>Date created</th>
            </tr>
            {% for active_account in active_accounts %}
                <tr>
                    <td>{{ active_account.name|default:"-" }}</td>
                    <td>{{ active_account.balance }}</td>
                    <td>{{ active_account.num_transactions }}</td>
                    <td>{{ active_account.date_created|localtime }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No active accounts are available.</p>
    {% endif %}

{% endblock %}