{% extends "dashboard/base.html" %}
{#{% load bootstrap3 %}#}
{% load staticfiles %}



{% block page %}

    <div class="content-wrapper" style="min-height: 1904px;">
        {#      <div class="content-wrapper">#}
        <!-- Content Header (Page header) -->
        <section class="content-header">

            {% include "navigation.html" %}
            <h1>
                {% block page_title %}
                    Page Header acc
                    <small>Optional description</small>
                {% endblock page_title %}
            </h1>
            {% block breadcrumbs %}
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                    <li class="active">Here</li>
                </ol>
            {% endblock %}
            <div>
                {% block content %}{% endblock %}
            </div>
        </section>

        <!-- Main content -->
        <section class="content">

        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->

{% endblock %}

