{% load base_extras %}

<!-- Static navbar -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">TLDR Bank</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            {% if user.is_authenticated %}
                <ul class="nav navbar-nav">
{#                    <li class="{% navactive request 'index index' %}"><a href="{% url 'index' %}">Home</a></li>#}
                    <li class="{% navactive request 'profile profile' %}"><a href="{% url 'profile' %}">Profile</a></li>
                    <li class="{% navactive request 'create_account create_account' %}"><a href="{% url 'create_account' %}">Create Account</a></li>
                    <li class="{% navactive request 'transfer transfer' %}"><a href="{% url 'transfer' %}">Transfer</a></li>
                    <li class="{% navactive request 'transferlist transferlist' %}"><a href="{% url 'transferlist' %}">Transfer History</a></li>
{#                    <li><a target="_blank" href="{% url 'pdf' %}">Bank Statement</a></li>#}

                    <!--
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Transfer</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                    -->
                </ul>


            {% endif %}
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>