{% extends "evebank_base.html" %}
{% load bootstrap3 %}

{% block content %}
    <h1>Transfer</h1>
    <form action="" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button type="submit" class="btn btn-primary">Submit</button>
      {% endbuttons %}
    </form>

{% endblock %}