{% extends "public/base.html" %}
{% load i18n %}
{% load bootstrap %}
{% load staticfiles %}

{% block title %}{% trans 'Alliance Auth' %}{% endblock %}

{% block page_title %}{% trans 'Add Api Key' %}{% endblock page_title %}
{% block extra_css %}{% endblock extra_css %}

{% block content %}
    <div class="col-lg-12">
        <h1 class="page-header text-center">{% trans 'Add Api Key' %}</h1>

        <div class="container-fluid">
            <div class="col-md-4 col-md-offset-4">
                <div class="row">
                    <p class="text-center">
                        {% trans 'Full API Key is required for auth services' %}
                    </p>

                    <p class="text-center">
                        <a target="_blank"
                           href="https://community.eveonline.com/support/api-key/CreatePredefined?accessMask=536870911">
                            {% trans 'Create a full API key' %}</a>
                    </p>

                    <p class="text-center">{% blocktrans %}
                        NOTE: If you are part of the alliance do not check "Blue" this is for people who are blue to the
                        alliance
                        but are not in it. Blue access is limited.
                        {% endblocktrans %}
                    </p>

                    <p class="text-center"><b>{% trans 'Do not change the accessmask or deselect options or it will not work' %} </b>
                    </p>

                    <p class="text-center">
                        <a target="_blank"
                           href="https://community.eveonline.com/support/api-key/CreatePredefined?accessMask=8388608">
                            {% trans 'Create a blue key' %}</a>
                    </p>

                    <form class="form-signin" role="form" action="{% url 'auth_add_api_key' %}" method="POST">
                        {% csrf_token %}
                        {{ form|bootstrap }}
                        <br/>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans 'Add Key' %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
