{% extends "public/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans 'Alliance Auth' %}{% endblock %}

{% block page_title %}{% trans 'Characters' %}{% endblock page_title %}
{% block extra_css %}{% endblock extra_css %}

{% block content %}
    <div class="col-lg-12 container">
        <h1 class="page-header text-center">{% trans 'Characters' %}</h1>

        <div class="col-lg-12 container" id="example">

            {% if authinfo.main_char_id %}
            {% else %}
                <div class="alert alert-danger" role="alert">{% trans 'No primary character set' %}</div>
            {% endif %}
            <div class="row">
                {% for character in characters %}
                    <div class="col-lg-6">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="text-left col-md-8">
                                                {{ character.character_name }}
                                            </div>
                                            <div class="text-right col-md-4">
                                                <a href="{% url 'eveonline.views.main_character_change' character.character_id%}">
                                                    {% ifequal character.character_id authinfo.main_char_id.character_id %}
                                                        <button type="button" class="btn btn-default btn-xs">
                                                            {% trans 'Refresh Primary' %}
                                                        </button>
                                                    {% else %}
                                                        <button type="button" class="btn btn-primary btn-xs">
                                                            {% trans 'Make Primary' %}
                                                        </button>
                                                    {% endifequal %}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-body">
                                <div class="col-lg-5 col-sm-2"><img class=
                                                                            "ra-avatar img-responsive" src=
                                                                            "https://image.eveonline.com/Character/{{ character.character_id }}_128.jpg">
                                </div>

                                <div class="col-lg-7 col-sm-2">
                                    <p><strong>{% trans 'Alliance' %}: </strong> {{ character.alliance_name }} </p>

                                    <p><strong>{% trans 'Corporation' %}: </strong>{{ character.corporation_name }}</p>

                                    <p><strong>{% trans 'Corporation Ticker' %}: </strong> {{ character.corporation_ticker }} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock content %}
