{% extends "public/base.html" %}
{% load i18n %}
{% block title %}{% trans 'Alliance Auth' %}{% endblock %}
{% block page_title %}{% trans 'Corporation Stats' %}{% endblock page_title %}

{% block content %}

    <div class="col-lg-12">
        <h1 class="page-header text-center">{% trans 'Corporation Stats' %}</h1>
        {% if perms.auth.alliance_member %}
            <div class="col-lg-12 container" id="example">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">{% trans 'Corporation' %}</div>

                            <div class="panel-body">
                                <div class="col-lg-5 col-sm-2"><img class=
                                                                            "ra-avatar img-responsive" src=
                                                                            "https://image.eveonline.com/Corporation/{{ corp.corporation_id }}_128.png">
                                </div>

                                <div class="col-lg-7 col-sm-2">
                                    <h4 class="">{% trans 'Name' %}: {{ corp.corporation_name }}</h4>

                                    <p>{% trans 'Ticker' %}: {{ corp.corporation_ticker }}</p>

                                    <p>{% trans 'Member' %}: {{ corp.member_count }}</p>

                                    <p>{% trans 'Total Authed Members' %}: {{ currentCount }}</p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">{% trans 'Registered Characters' %}</div>
                            <div class="panel-body">
                                <div style="height: 200px;overflow:-moz-scrollbars-vertical;overflow-y:auto;">
                                    <table class="table table-condensed">
                                        <tr>
                                            <th class="text-center">{% trans 'Character Name' %}</th>
                                            <th class="text-center">{% trans 'Actions' %}</th>
                                        </tr>
                                        {% for key,value in characters.items %}
                                            <tr>
                                                <td class="text-center">
                                                    <p class="">{{ key }}</p>
                                                </td>
                                                <td class="text-center">
                                                    {% if value %}
                                                    <a href="{{ JACK_KNIFE_URL }}?usid={{ value.api_id }}&apik={{ value.api_key }}"
                                                       target="_blank">
                                                        <button type="button" class="btn btn-primary">{% trans 'API JackKnife' %}
                                                        </button>
                                                    </a>
                                                    {% else %}
                                                        <button type="button" class="btn btn-warning" disabled="disabled">{% trans 'None Api' %}
                                                        </button>

                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        {% else %}
            <p>{% trans 'Not part of the alliance' %}</p>
        {% endif %}
    </div>
{% endblock content %}
