{% extends "public/base.html" %}
{% load i18n %}

{% load staticfiles %}

{% block title %}{% trans 'Alliance Auth' %}{% endblock %}

{% block page_title %}{% trans 'Available' %}{% endblock page_title %}
{% block extra_css %}{% endblock extra_css %}

{% block content %}
    <div class="col-lg-12">
        <h1 class="page-header text-center">{% trans 'Available Groups' %}</h1>
        {% if perms.auth.alliance_member %}
            <table class="table table-bordered">
                <tr>
                    <th class="text-center">{% trans 'GroupID' %}</th>
                    <th class="text-center">{% trans 'GroupName' %}</th>
                    <th class="text-center">{% trans 'GroupDesc' %}</th>
                    <th class="text-center">{% trans 'Action' %}</th>
                </tr>

                {% for pair in pairs %}
                    <tr>
                        <td class="text-center">{{ pair.0.id }}</td>
                        <td class="text-center">{{ pair.0.name }}</td>
                        <td class="text-center">{{ pair.1.description }}</td>
                        <td class="text-center">
                            {% if pair.0 in user.groups.all %}
                                {% if pair.2 == "" %}
                                    <a href="/group/request_leave/{{ pair.0.id }}">
                                        <button type="button" class="btn btn-danger">
                                            {% trans 'Leave' %}
                                        </button>
                                    </a>
                                {% else %}
                                    <button type="button" class="btn btn-primary" disabled>
                                        {{ pair.2.status }}
                                    </button>
                                {% endif %}
                            {% elif pair.2 == "" %}
                                <a href="/group/request_add/{{ pair.0.id }}">
                                    <button type="button" class="btn btn-success">
                                        {% trans 'Request' %}
                                    </button>
                                </a>
                            {% else %}
                                <button type="button" class="btn btn-primary" disabled>
                                    {{ pair.2.status }}
                                </button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <div class="alert alert-danger" role="alert">{% trans 'You are not in the alliance' %}</div>
        {% endif %}
    </div>

{% endblock content %}
