{% extends "public/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans 'Alliance Auth' %}{% endblock %}

{% block page_title %}{% trans 'Timer Management' %}{% endblock page_title %}
{% block extra_css %}{% endblock extra_css %}

{% block content %}
    <div class="col-lg-12">
        <h1 class="page-header text-center">{% trans 'Operation Timers' %}
            <div class="text-right">
                <a href="{% url 'auth_add_timer_view' %}">
                    {% if perms.auth.timer_management %}
                        <button type="button" class="btn btn-success">{% trans 'Create Timer' %}</button>
                    {% endif %}
                </a>
            </div>
        </h1>
        <div class="col-lg-12 text-center">
            <div class="label label-info text-left">
                <b>{% trans 'Current Eve Time' %}: </b>
            </div><div class="label label-info text-left" id="current-time"></div>
        </div>
        <h4><b>{% trans 'Next Timer' %}</b></h4>
        <table class="table table-responsive table-bordered">
            <tr>
                <th style="width:150px" class="text-center">{% trans 'Fleet Name' %}</th>
                <th class="text-center">{% trans 'Fleet Type' %}</th>
                <th class="text-center">{% trans 'System' %}</th>
                <th class="text-center">{% trans 'Structure' %}</th>
                <th class="text-center">{% trans 'Eve Time' %}</th>
		<th class="text-center">{% trans 'Local Time' %}</th>
                <th class="text-center">{% trans 'Creator' %}</th>
                {% if perms.auth.timer_management %}
                    <th class="text-center">{% trans 'Action' %}</th>
                {% endif %}
            </tr>
            {% if closest_timer %}
                {% ifequal closest_timer.important True %}
                    <tr class="danger">
                        {% else %}
                    <tr class="info">
                {% endifequal %}
                <td style="width:150px" class="text-center">{{ closest_timer.name }}</td>
                <td class="text-center">
                    {% ifequal closest_timer.fleet_type "Armor" %}
                        <div class="label label-danger">
                            {% trans 'Armor' %}
                        </div>
                    {% endifequal %}
                    {% ifequal closest_timer.fleet_type "Shield" %}
                        <div class="label label-primary">
                            {% trans 'Shield' %}
                        </div>
                    {% endifequal %}
                    {% ifequal closest_timer.fleet_type "Other" %}
                        <div class="label label-default">
                            {% trans 'Other' %}
                        </div>
                    {% endifequal %}
                </td>
                <td class="text-center"><a
                        href="http://evemaps.dotlan.net/system/{{ closest_timer.system }}">{{ closest_timer.system }} {{ closest_timer.planet_moon }} </a>
                </td>
                <td class="text-center">
                    {% ifequal closest_timer.structure "I-HUB" %}
                        <div class="label label-warning">
                            {% trans 'I-HUB' %}
                        </div>
                    {% endifequal %}
                    {% ifequal closest_timer.structure "POCO" %}
                        <div class="label label-success">
                            {% trans 'POCO' %}
                        </div>
                    {% endifequal %}
                    {% ifequal closest_timer.structure "POS[S]" %}
                        <div class="label label-info">
                            {% trans 'POS' %} [S]
                        </div>
                    {% endifequal %}
                    {% ifequal closest_timer.structure "POS[M]" %}
                        <div class="label label-info">
                            {% trans 'POS' %} [M]
                        </div>
                    {% endifequal %}
                    {% ifequal closest_timer.structure "POS[L]" %}
                        <div class="label label-info">
                            {% trans 'POS' %} [L]
                        </div>
                    {% endifequal %}
                    {% ifequal closest_timer.structure "Station" %}
                        <div class="label label-danger">
                            {% trans 'Station' %}
                        </div>
                    {% endifequal %}
                    {% ifequal closest_timer.structure "Other" %}
                        <div class="label label-default">
                            {% trans 'Other' %}
                        </div>
                    {% endifequal %}
                </td>
                <td class="text-center" nowrap>{{ closest_timer.eve_time | date:"Y-m-d H:i" }}</td>
		<td id="countdownclosest" class="text-center" nowrap></td>
		<td class="text-center">{{ closest_timer.eve_character.character_name }}</td>
                {% if perms.auth.timer_management %}
                    <td class="text-center">

                        <a href="/remove_timer/{{ closest_timer.id }}">
                            <button type="button" class="btn btn-danger"><span
                                    class="glyphicon glyphicon-remove"></span></button>
                        </a>
                    </td>
                {% endif %}
            {% endif %}
            </tr>
        </table>

        <h4><b>{% trans 'Future Timers' %}</b></h4>
        <table class="table table-bordered">
            <tr>
                <th style="width:150px" class="text-center">{% trans 'Fleet Name' %}</th>
                <th class="text-center">{% trans 'Fleet Type' %}</th>
                <th class="text-center">{% trans 'System' %}</th>
                <th class="text-center">{% trans 'Structure' %}</th>
                <th class="text-center">{% trans 'Eve Time' %}</th>
                <th class="text-center">{% trans 'Local Time' %}</th>
                <th class="text-center">{% trans 'Creator' %}</th>
                {% if perms.auth.timer_management %}
                    <th class="text-center">{% trans 'Action' %}</th>
                {% endif %}
            </tr>
            {% for timer in timers %}
                {% ifnotequal timer closest_timer %}
                    {% ifequal timer.important True %}
                        <tr class="danger">
                            {% else %}
                        <tr class="info">
                    {% endifequal %}
                <td style="width:150px" class="text-center">{{ timer.name }}</td>
                <td class="text-center">
                    {% ifequal timer.fleet_type "Armor" %}
                        <div class="label label-danger">
                            {% trans 'Armor' %}
                        </div>
                    {% endifequal %}
                    {% ifequal timer.fleet_type "Shield" %}
                        <div class="label label-primary">
                            {% trans 'Shield' %}
                        </div>
                    {% endifequal %}
                    {% ifequal timer.fleet_type "Other" %}
                        <div class="label label-default">
                            {% trans 'Other' %}
                        </div>
                    {% endifequal %}
                </td>
                <td class="text-center"><a
                        href="http://evemaps.dotlan.net/system/{{ timer.system }}">{{ timer.system }} {{ timer.planet_moon }} </a>
                </td>
                <td class="text-center">
                    {% ifequal timer.structure "I-HUB" %}
                        <div class="label label-warning">
                            {% trans 'I-HUB' %}
                        </div>
                    {% endifequal %}
                    {% ifequal timer.structure "POCO" %}
                        <div class="label label-success">
                            {% trans 'POCO' %}
                        </div>
                    {% endifequal %}
                    {% ifequal timer.structure "POS[S]" %}
                        <div class="label label-info">
                            {% trans 'POS' %}POS [S]
                        </div>
                    {% endifequal %}
                    {% ifequal timer.structure "POS[M]" %}
                        <div class="label label-info">
                            {% trans 'POS' %} [M]
                        </div>
                    {% endifequal %}
                    {% ifequal timer.structure "POS[L]" %}
                        <div class="label label-info">
                            {% trans 'POS' %} [L]
                        </div>
                    {% endifequal %}
                    {% ifequal timer.structure "Station" %}
                        <div class="label label-danger">
                            {% trans 'Station' %}
                        </div>
                    {% endifequal %}
                    {% ifequal timer.structure "Other" %}
                        <div class="label label-default">
                            {% trans 'Other' %}
                        </div>
                    {% endifequal %}
                </td>
                <td class="text-center" nowrap>{{ timer.eve_time | date:"Y-m-d H:i" }}</td>
                <td class="text-center" nowrap><div id="countdown{{ timer.id }}"></div></td>
                <td class="text-center">{{ timer.eve_character.character_name }}</td>
                {% if perms.auth.timer_management %}
                    <td class="text-center">
                        <a href="/remove_timer/{{ timer.id }}">
                            <button type="button" class="btn btn-danger"><span
                                    class="glyphicon glyphicon-remove"></span></button>
                        </a>
                    </td>
                {% endif %}
                </tr>
                {% endifnotequal %}
            {% endfor %}
        </table>
    </div>


<script src="/static/js/dateformat.js"></script>
<script src="/static/js/countdown.js"></script>
<script>
var clockClosest = document.getElementById("countdownclosest"), targetDate = new Date(Date.UTC({{ closest_timer.eve_time | date:"Y, m-1, d, H, i" }}));{% for timer in timers %}
var clock{{ timer.id }} = document.getElementById("countdown{{ timer.id }}"), targetDate{{ timer.id }} = new Date(Date.UTC({{ timer.eve_time | date:"Y, m-1, d, H, i" }}));{% endfor %}

setInterval(function(){clockClosest.innerHTML = targetDate.format('D @ h:ia'); if (targetDate > Date.now()){ clockClosest.innerHTML = clockClosest.innerHTML + "<BR>" + countdown(targetDate).toString();}}, 1000);
{% for timer in timers %}setInterval(function(){clock{{ timer.id }}.innerHTML = targetDate{{ timer.id }}.format('D @ h:ia'); if (targetDate{{ timer.id }} > Date.now()){ clock{{ timer.id }}.innerHTML = clock{{ timer.id }}.innerHTML + "<BR>" + countdown(targetDate{{ timer.id }}).toString();}}, 1000);{% endfor %}

setInterval(function(){updateClock()}, 1000);

function updateClock() {
  var clock = new Date();
  document.getElementById("current-time").innerHTML = "<b>" + clock.toUTCString() + "</b>";
}

</script>
{% endblock content %}
