{% extends "public/base.html" %}

{% block title %}Alliance Auth{% endblock %}

{% block page_title %}Something something here{% endblock page_title %}

{% block content %}
    <div class="col-lg-12">

        <h1 class="page-header text-center">Wallet List {{ character }}</h1>


        <h2 class="sub-header">Section title</h2>

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Date Time</th> {# Дата и время транзакции #}
                  <th>Type</th> {# Тип транзакции: Налог, Баунти, Продажа #}
                  <th>Amount</th> {# Сумма транзакции #}
                  <th>Balance</th>{# Баланс после транзакции #}
                  <th>description</th>{# Описание #}
                </tr>
              </thead>
            {% for wall in wallet_list %}
              <tbody>
                <tr>
                  <td>{{ wall.result_date }}</td>
                  <td>{{ wall.type_id}}</td>
                  <td>{{ wall.result_amount }}</td>
                  <td>{{ wall.result_balance }}</td>
                    {% if wall.party_1_name == "CONCORD" %}
                  <td></td>
                      {% else %}
                  <td>{# Если описание это типы неписи, по пропускаем #}{{ wall.result_reason }}</td>
                      {% endif %}



                </tr>
              </tbody>
            {% endfor %}
            </table>
          </div>






        <div class="container-fluid">
            <div class="col-md-4 col-md-offset-4">
                <div class="row">
                    <p class="text-center">





                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

