{% extends "dashboard/base.html" %}
{% load goto_url %}
{% load staticfiles new_tags %}
{% load i18n %}
{% load comments %}

{% block title %}
    {% trans 'Details of the alliance' %} {{ alliance.alliance_name }} - {{ block.super }}
{% endblock title %}

{% block meta-description %}{% blocktrans with name=alliance.alliance_name %}Details of the alliance {{ name }} in the game EVE Online.
{% endblocktrans %}{% endblock meta-description %}

{% block meta-keywords %}{% trans 'alliance' %}, {{ alliance.alliance_name }}, {{ alliance.alliance_ticker }}{% endblock meta-keywords %}


{% block page_title %}
    {% trans 'Details of the Alliance' %} {{ alliance.alliance_name }}
{% endblock page_title %}




{% block content %}

{#    <div class="col-lg-12">#}

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header"><h3 class="box-title">{% trans 'Public information about Alliance' %}</h3></div><!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-4 col-md-2">
                                <img class="ra-avatar img-responsive" src="https://image.eveonline.com/Alliance/{{ alliance.alliance_id }}_128.png">
                            </div>
{#                                <div>#}
                            <div class="col-xs-4 col-md-4">
                                <h4 class="">{% trans 'Name' %}: {{ alliance.alliance_name }}</h4>
                                <p>{% trans 'Ticker' %}: {{ alliance.alliance_ticker }}</p>
                                {% if alliance.is_active %}
                                    {% else %}
                                    {% trans 'Disbanded' %}
                                {% endif %}
                            </div>
                            <div class="col-xs-4 col-md-4">
{#    <td><a href="{% url 'corp_info' corphist.corp.corporation_id %}">{{ corphist.corp.corporation_name }}</a></td>#}

                                <p>{% trans 'Members' %}: {{ alliance.member_count }}</p>
                                <p>{% trans 'Corps' %}: {{ corps.count }}</p>
                                {% if alliance.get_url %}
                                <p>{% trans 'Site' %}: <a target="_blank" href="{% goto_url alliance.get_url %}">{{ alliance.get_url }}</a></p>
                                {% endif %}



                                <p>{% trans 'Last Updated:' %}: {{ alliance.update }}</p>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="box-header"><h3 class="box-title">{% trans 'description' %}</h3></div><!-- /.box-header -->
                <div class="box-body">

                {% autoescape off %}
                            {{ alliance.description|cleaned_text }}
                {% endautoescape %}


                </div>



                    {% url 'alliance_info' alliance.pk as next %}

                    {% include 'comments/comments_block.html' with content_object=alliance next=next %}


            </div>
        </div>
    </div>






{% endblock content %}

{% block extra_css %}

{% endblock extra_css %}