{% extends "dashboard/base.html" %}
{% load i18n %}

{% load bootstrap %}
{% load staticfiles %}

{% block title %}{% trans 'API Key Management' %}{% endblock %}

{% block page_title %}{% trans 'API Key Management' %}{% endblock page_title %}
{% block extra_css %}

    <link rel="stylesheet" href={% static "adminlte/plugins/datatables/dataTables.bootstrap.css" %}>

{% endblock extra_css %}

{% block content %}

    <div class="box">
        <div class="box-header">
            <div class="text-right">
                <a href="{% url 'add_api_key' %}">
                    <button type="button" class="btn btn-success">{% trans 'Add Key' %}</button>
                </a>
            </div>
        </div><!-- /.box-header -->
        <div class="box-body">
            <table id="api" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>{% trans 'API ID' %}</th>
                    <th>{% trans 'API Key' %}</th>
                    <th>{% trans 'mask' %}</th>
                    <th>{% trans 'Corporation' %}</th>
                    <th>{% trans 'Expire Date' %}</th>
                    <th>{% trans 'Action' %}</th>

                </thead>
                <tbody>

                {% for pair in object_list %}
                    <tr>
                        <td>{{ pair.api_id }}</td>
                        <td>{{ pair.api_key }}</td>
                        <td>{{ pair.mask }}</td>
                        <td>{{ pair.corporation|default_if_none:'' }}</td>
                        <td>{{ pair.expire|date|default:"unlimited" }}</td>
                        <td>
                            <a href="{% url 'api_key_removal' pair.api_id %}">
                                <button type="button" class="btn btn-danger"><span
                                        class="glyphicon glyphicon-remove"></span></button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}

                </tfoot>
            </table>
        </div><!-- /.box-body -->
    </div><!-- /.box -->



{% endblock content %}

{% block extra_script %}
    <!-- DataTables -->
    <script src={% static "adminlte/plugins/datatables/jquery.dataTables.min.js" %}></script>
    <script src={% static "adminlte/plugins/datatables/dataTables.bootstrap.min.js" %}></script>
    <!-- SlimScroll -->
    <script src={% static "adminlte/plugins/slimScroll/jquery.slimscroll.min.js" %}></script>
    <!-- FastClick -->
    <script src={% static "adminlte/plugins/fastclick/fastclick.min.js" %}></script>
    <!-- AdminLTE App -->
    <script src={% static "adminlte/dist/js/app.min.js" %}></script>
    <!-- AdminLTE for demo purposes -->
    <script src={% static "adminlte/dist/js/demo.js" %}></script>

    {% verbatim %}
    <script>
        $(function () {
            $("#api").DataTable(
                    {
                        "paging": true,
                        "lengthChange": true,
                        "searching": true,
                        "ordering": true,
                        "info": true,
                        "autoWidth": true
                    }
            );

        });
    </script>
    {% endverbatim %}

{% endblock extra_script %}