{% extends "dashboard/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans 'Characters' %}{% endblock %}

{% block page_title %}{% trans 'Characters' %}{% endblock page_title %}
{% block extra_css %}{% endblock extra_css %}

{% block content %}

    <!-- Main content -->
    <section class="content" xmlns="http://www.w3.org/1999/html">
        {% if not characters.count %}
            <div class="box"><div class="alert alert-danger" role="alert">{% trans 'No character' %}</div></div>
        {% endif %}
        <!-- Default box -->
        <div class="row">
            {% for character in characters %}
                <div class="col-lg-6">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title"><a href="{% url 'char_info_public' character.character_id %}">{{ character.character_name }}</a></h3>
                            <div class="box-tools pull-right">
                                <a href="{% url 'main_character_change' character.character_id %}">
                                    {% ifequal character.is_main character %}
                                    <button type="button" class="btn btn-default btn-xs">
                                            {% trans 'Refresh Primary' %}
                                        </button>
                                    {% else %}
                                        <button type="button" class="btn btn-primary btn-xs">
                                            {% trans 'Make Primary' %}
                                        </button>
                                    {% endifequal %}

                                </a>
                                <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="col-lg-5 col-sm-2"><img class="ra-avatar img-responsive" src="https://image.eveonline.com/Character/{{ character.character_id }}_128.jpg">
                            </div>
                            {% if character.alliance %}

                            <p><strong>{% trans 'Alliance' %}: </strong> <a href="{% url 'alliance_info' character.alliance.alliance_id %}">{{ character.alliance }}</a> </p>
                            {% endif %}
                            <p><strong>{% trans 'Corporation' %}: </strong><a href="{% url 'corp_info' character.corporation.corporation_id %}">{{ character.corporation }}</a></p>
                            <p><strong>{% trans 'Corporation Ticker' %}: </strong>{{ character.corporation.corporation_ticker }}</p>
                            <p>{% trans 'Wallet balance' %}: 00.00 ISK </p>
                            <p>Api Key:


                                    {{ character.api.count }}

                            </p>
                        </div><!-- /.box-body -->
                        <div class="box-footer">

                        </div><!-- /.box-footer-->
                    </div>
                </div><!-- /.box -->
            {% endfor %}
        </div>
    </section><!-- /.content -->
{% endblock content %}
