{% extends "dashboard/base.html" %}
{% load goto_url %}
{% load staticfiles new_tags %}
{% load i18n %}




{% block title %}
    {% trans 'Details of the Corporation' %} {{ corporation.corporation_name }} - {{ block.super }}
{% endblock title %}

{% block meta-description %}{% blocktrans with corp_name=corporation.corporation_name %}Details of the Corporation {{ corp_name }} in the game EVE Online.
{% endblocktrans %}{% endblock meta-description %}

{% block meta-keywords %}{% trans 'Corporation' %}, {{ corporation.corporation_name }}, {{ corporation.corporation_ticker }}{% endblock meta-keywords %}


{% block page_title %}
    {% trans 'Details of the Corporation' %} {{ corporation.corporation_name }}
{% endblock page_title %}


{% block content %}

    {#    <div class="col-lg-12">#}

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header"><h3 class="box-title">{% trans 'Public information about Corporation' %}</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-4 col-md-2">
                                <img class="ra-avatar img-responsive"
                                     src="https://image.eveonline.com/Corporation/{{ corporation.corporation_id }}_128.png">
                            </div>
                            {#                                <div>#}
                            <div class="col-xs-4 col-md-4">
                                <h4 class="">{% trans 'Name' %}: {{ corporation.corporation_name }}</h4>
                                <p>{% trans 'Ticker' %}: {{ corporation.corporation_ticker }}</p>
                                {% if corporation.alliance %}
                                    <p>{% trans 'Alliance' %}:
                                        <a href="{% url 'alliance_info' corporation.alliance.alliance_id %}">
                                            {{ corporation.alliance.alliance_name }}</a>
                                    </p>
                                {% endif %}
                                {% if corporation.ceo %}
                                    {% if corporation.ceo.character_id != 1 %}
                                        <p>{% trans 'CEO' %}:
                                            <a href="{% url 'char_info_public' corporation.ceo.character_id %}">
                                                {{ corporation.ceo.character_name }}</a>
                                        </p>
                                    {% else %}
                                        {% trans 'Disbanded' %}
                                    {% endif %}


                                {% else %}
                                    {% trans 'Disbanded' %}

                                {% endif %}
                            </div>
                            <div class="col-xs-4 col-md-4">
                                {#    <td><a href="{% url 'corp_info' corphist.corp.corporation_id %}">{{ corphist.corp.corporation_name }}</a></td>#}

                                <p>{% trans 'Members' %}: {{ corporation.member_count }}</p>
                                <p>{% trans 'tax' %}: {{ corporation.tax }}</p>
                                {% if corporation.get_url %}
                                    <p>{% trans 'Site' %}: <a target="_blank" href="{% goto_url corporation.get_url %}">{{ corporation.get_url }}</a></p>
                                {% endif %}
                            {% if corporation.is_npc %}
                                    <p>{% trans 'This NPC corporation.' %}</p>
                            {% endif %}

{#                                <p>{% trans 'is_del' %}: {{ corporation.is_del }}</p>#}
                                <p>{% trans 'Last Updated:' %}: {{ corporation.update }}</p>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="box-header"><h3 class="box-title">{% trans 'description' %}</h3></div><!-- /.box-header -->
                <div class="box-body">

                    {% autoescape off %}
                        {{ corporation.description|cleaned_text }}
                    {% endautoescape %}


                </div>

                {% url 'corp_info' corporation.pk as next %}

                {% include 'comments/comments_block.html' with content_object=corporation next=next %}


            </div>
        </div>
    </div>
    </div>






{% endblock content %}
