{% extends "dashboard/base.html" %}

{% load staticfiles %}
{% load i18n %}



{% block title %}Alliance Auth{% endblock %}
{% block page_title %}Privat information about Corporation {{ corporation.corporation_name }}{% endblock page_title %}

{% block content %}

{#    <div class="col-lg-12">#}

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header"><h3 class="box-title">{% trans 'Public information about Corporation' %}</h3></div><!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-4 col-md-2">
                                <img class="ra-avatar img-responsive" src="https://image.eveonline.com/Corporation/{{ corporation.corporation_id }}_128.png">
                            </div>
{#                                <div>#}
                            <div class="col-xs-4 col-md-4">
                                <h4 class="">{% trans 'Name' %}: {{ corporation.corporation_name }}</h4>
                                <p>{% trans 'Ticker' %}: {{ corporation.corporation_ticker }}</p>
                                {% if corporation.alliance %}
                                    <p>{% trans 'Alliance' %}:
                                        <a href="{% url 'alliance_info' corporation.alliance.alliance_id %}">
                                            {{ corporation.alliance.alliance_name }}</a>
                                    </p>
                                {% endif %}
                                {% if corporation.ceo%}
                                    {% if corporation.ceo.character_id != 1 %}
                                        <p>{% trans 'CEO' %}:
                                        <a href="{% url 'char_info_public' corporation.ceo.character_id %}">
                                            {{ corporation.ceo.character_name }}</a>
                                        </p>
                                    {% else %}
                                        {% trans 'Disbanded' %}
                                    {% endif %}


                                {% else %}
                                {% trans 'Disbanded' %}

                                {% endif %}
                            </div>
                            <div class="col-xs-4 col-md-4">
{#    <td><a href="{% url 'corp_info' corphist.corp.corporation_id %}">{{ corphist.corp.corporation_name }}</a></td>#}

                                <p>{% trans 'Members' %}: {{ corporation.member_count }}</p>
                                <p>{% trans 'tax' %}: {{ corporation.tax }}</p>
                                {% if corporation.url %}
                                    <p>{% trans 'Site' %}: <a href="{{ corporation.url }}">{{ corporation.url }}</a></p>
                                {% endif %}
                                <p>{% trans 'is_npc' %}: {{ corporation.is_npc }}</p>
                                <p>{% trans 'is_del' %}: {{ corporation.is_del }}</p>
                                <p>{% trans 'Last Updated:' %}: {{ corporation.update }}</p>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="box-header"><h3 class="box-title">{% trans 'description' %}</h3></div><!-- /.box-header -->
                <div class="box-body">

                    {% autoescape off %}
                        {{ corporation.description }}
                    {% endautoescape %}


                </div>
                <div class="box-header"><h3 class="box-title">{% trans 'Comments' %}</h3></div><!-- /.box-header -->
                <div class="box-body">
                    <blockquote>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                    </blockquote>

                    <blockquote>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                    </blockquote>



                </div>
            </div>
        </div>
    </div>






{% endblock content %}
