{% extends "dashboard/base.html" %}
{% load i18n %}

{% load staticfiles %}

{% block title %}{% trans 'Alliance Auth' %}{% endblock %}

{% block page_title %}{% trans 'Available groups' %}{% endblock page_title %}
{% block extra_css %}{% endblock extra_css %}

{% block content %}


    <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title">{% trans 'Available groups' %}</h3>
                  <div class="box-tools">
{#                    <div class="input-group" style="width: 150px;">#}
{#                      <input type="text" name="table_search" class="form-control input-sm pull-right" placeholder="Search">#}
{#                      <div class="input-group-btn">#}
{#                        <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>#}
{#                      </div>#}
{#                    </div>#}
                  </div>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                  <table class="table table-hover">
                  <tr>
                    <th>{% trans 'GroupID' %}</th>
                    <th>{% trans 'GroupName' %}</th>
                    <th>{% trans 'GroupDesc' %}</th>
                    <th>{% trans 'Action' %}</th>
                  </tr>

                  {% for pair in pairs %}
                    <tr>
                        <td>{{ pair.0.id }}</td>
                        <td>{{ pair.0.name }}</td>
                        <td>{{ pair.1.description }}</td>
                        <td>
                            {% if pair.0 in user.groups.all %}
                                {% if pair.2 == "" %}
                                    <a href="/group/request_leave/{{ pair.0.id }}">
                                        <button type="button" class="btn btn-danger">
                                            {% trans 'Leave' %}
                                        </button>
                                    </a>
                                {% else %}
                                    <button type="button" class="btn btn-primary" disabled>
                                        {{ pair.2.status }}
                                    </button>
                                {% endif %}
                            {% elif pair.2 == "" %}
                                <a href="/group/request_add/{{ pair.0.id }}">
                                    <button type="button" class="btn btn-success">
                                        {% trans 'Request' %}
                                    </button>
                                </a>
                            {% else %}
                                <button type="button" class="btn btn-primary" disabled>
                                    {{ pair.2.status }}
                                </button>
                            {% endif %}
                        </td>
                    </tr>

                  {% endfor %}
                  </table>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div>
          </div>



{% endblock content %}
