{% extends "public/base.html" %}
{% load i18n %}
{% block title %}{% trans 'Alliance Auth' %}{% endblock %}

{% block page_title %}{% trans 'page title' %}{% endblock page_title %}
{% load humanize %}

{% block content %}
    <div class="col-lg-12">
        <h1 class="page-header text-center">{% trans 'Заголовок'%} {{ var }}</h1>
        <h2 class="sub-header"></h2>

    </div>




{% endblock content %}
