{% extends "base.html" %}
{% load i18n %}


{% block title %}{% trans 'Post list' %} - {{ block.super }}{% endblock title %}

{% block meta-description %}{% trans 'Post list' %}{% endblock meta-description %}
{% block meta-keywords %}{% trans 'Post list' %}{% endblock meta-keywords %}



{% block page_title %}
    {% trans 'Blog Posts' %}
    <small></small>
{% endblock page_title %}


{% block breadcrumbs %}

    {{ block.super }}
    <li><a href="{% url 'blog' %}">Blog</a></li>

{% endblock %}

{% block content %}


    <section class="content">
        {% if post_list %}

            {% for post in post_list %}

                {#        {% include "pagination/builtin_pagination_reverse.html" %}#}

                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>


                        <div class="box-tools pull-right">
                            <!-- Buttons, labels, and many other things can be placed here! -->
                            <!-- Here is a label for example -->
                            <a href="{% url "blog_section" post.section.slug %}">
                                <span class="label label-primary">{{ post.section.name }}</span></a>
                        </div><!-- /.box-tools -->
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        {{ post.teaser_html|safe }}
                        <p class="more"><a href="{{ post.get_absolute_url }}" class="post-link">read more...</a></p>
                    </div><!-- /.box-body -->
                    <div class="box-footer">
                    <span class="date">
                        {% if post.published %}
                            {{ post.published|date:"jS F Y" }}
                        {% else %}
                            Not published yet
                        {% endif %}
                    </span>
                        / by
                        <span class="author">{{ post.author.get_full_name }}</span>
                    </div><!-- box-footer -->
                </div><!-- /.box -->


            {% endfor %}

        {% else %}
            <p class="alert alert-info lead">No blog posts have been published.</p>
        {% endif %}


    </section>

{% endblock %}



