{% extends "base.html" %}
{% load i18n %}


{% block title %}{{ post.title }} - {{ block.super }}{% endblock title %}

{% block meta-description %}
    {% if post.description %}
        {{ post.description }}
    {% else %}
        {{ post.teaser_html|striptags }}
    {% endif %}
{% endblock meta-description %}
{% block meta-keywords %}{% endblock meta-keywords %}

{% block extra_head %}
    {{ block.super }}
    <meta name="twitter:card" content="summary">
    {% comment %}
    <meta name="twitter:image" content="https://pbs.twimg.com/profile_images/62846141/pinaxproject_avatar.png">
    {% endcomment %}
    <meta property="og:title" content="{{ post.title }}">
    {% if post.description %}
{#        <meta name="description" content="{{ post.description }}">#}
        <meta property="og:description" content="{{ post.description }}">
    {% else %}
{#        <meta name="description" content="{{ post.teaser_html|striptags }}">#}
        <meta property="og:description" content="{{ post.teaser_html|striptags }}">
    {% endif %}
    {% if post.primary_image %}
        <meta property="og:image" content="http://{{ SITE_DOMAIN }}{{ post.primary_image.image_path.url }}">
    {% else %}
        {% comment %}
        <meta property="og:image" content="https://pbs.twimg.com/profile_images/62846141/pinaxproject_avatar.png">
        {% endcomment %}
    {% endif %}
    <meta property="og:url" content="http://{{ SITE_DOMAIN }}{{ post.get_absolute_url }}">
    <meta property="og:type" content="article">
{% endblock %}

{% block page_title %}
    {{ post.title }}
    <small></small>
{% endblock page_title %}


{% block breadcrumbs %}

    {{ block.super }}
    <li><a href="{% url 'blog' %}">Blog</a></li>

{% endblock %}

{% block content %}


    <section class="content">


        {#        {% include "pagination/builtin_pagination_reverse.html" %}#}

        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">{{ post.title }}</h3>


                <div class="box-tools pull-right">
                    <!-- Buttons, labels, and many other things can be placed here! -->
                    <!-- Here is a label for example -->
                    <a href="{% url "blog_section" post.section.slug %}">
                        <span class="label label-primary">{{ post.section.name }}</span></a>
                </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
            <div class="box-body">
                {{ post.teaser_html|safe }}
                {{ post.content_html|safe }}
            </div><!-- /.box-body -->
            <div class="box-footer">
                    <span class="date">
                        {% if post.published %}
                            {{ post.published|date:"jS F Y" }}
                        {% else %}
                            Not published yet
                        {% endif %}
                    </span>
                    /
                <span class="author">{{ post.author.get_full_name }}</span>
            </div><!-- box-footer -->
        </div><!-- /.box -->


    </section>

{% endblock %}
