{% extends "base.html" %}
{% load i18n %}


{% block title %}{% trans 'Add Post' %} - {{ block.super }}{% endblock title %}

{% block meta-description %}

{% endblock meta-description %}
{% block meta-keywords %}{% endblock meta-keywords %}

{% block extra_head %}
    {#<script type="text/javascript" src="/en/admin/jsi18n/"></script>#}
    {#<script type="text/javascript" src="/static/admin/js/core.js"></script>#}
    <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    {#<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>#}
    {#<script type="text/javascript" src="/static/admin/js/actions.js"></script>#}
    <script type="text/javascript" src="/static/admin/js/urlify.js"></script>
    <script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.min.js"></script>
{% endblock %}

{% block page_title %}
    {% trans 'Add Post' %}
    <small></small>
{% endblock page_title %}


{% block breadcrumbs %}

    {{ block.super }}
    <li><a href="{% url 'blog' %}">Blog</a></li>
    <li>{% trans 'Add Post' %}</li>

{% endblock %}

{% block content %}


    <section class="content">


        {#        {% include "pagination/builtin_pagination_reverse.html" %}#}

        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">{% trans 'Add Post' %}</h3>


                <div class="box-tools pull-right">
                    <!-- Buttons, labels, and many other things can be placed here! -->
                    <!-- Here is a label for example -->
                    <a href="/">
                        <span class="label label-primary"></span></a>
                </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
            <form action="" method="post">
                {% csrf_token %}
                <div class="box-body">
                    {{ form }}
                </div><!-- /.box-body -->
                <div class="box-footer">
                    <input value="Save" type="submit">
                </div><!-- box-footer -->
            </form>
        </div><!-- /.box -->


    </section>

{% endblock %}

{% block extra_script %}

    {#{% verbatim %}#}
    <script type="text/javascript">
        (function ($) {
            $(document).ready(function () {
                $('.add-another').click(function (e) {
                    e.preventDefault();
                    var event = $.Event('django:add-another-related');
                    $(this).trigger(event);
                    if (!event.isDefaultPrevented()) {
                        showAddAnotherPopup(this);
                    }
                });
                $('.related-lookup').click(function (e) {
                    e.preventDefault();
                    var event = $.Event('django:lookup-related');
                    $(this).trigger(event);
                    if (!event.isDefaultPrevented()) {
                        showRelatedObjectLookupPopup(this);
                    }
                });


            });
        })(django.jQuery);
    </script>

    <script type="text/javascript">
        (function ($) {
            var field;


            field = {
                id: '#id_slug',
                dependency_ids: [],
                dependency_list: [],
                maxLength: 50,
                allowUnicode: false
            };


            field['dependency_ids'].push('#id_title');
            field['dependency_list'].push('title');


            $('.empty-form .form-row .field-slug, .empty-form.form-row .field-slug').addClass('prepopulated_field');
            $(field.id).data('dependency_list', field['dependency_list'])
                    .prepopulate(field['dependency_ids'], field.maxLength, field.allowUnicode);

        })(django.jQuery);
    </script>
    {# {% endverbatim %}#}
{% endblock extra_script %}