{% extends "public/base.html" %}
{% load i18n %}
{% block title %}Alliance Auth{% endblock %}

{% block page_title %}Something something here{% endblock page_title %}

{% block content %}
     {% load humanize %}

    <div class="col-lg-12">
        <h1 class="page-header text-center">Wallet List {{ character }}</h1>
        <h2 class="sub-header"></h2>
        <div class="row">
            <div class="col-xs-6 col-sm-4">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{ character }} <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        {% for char in characters %}
                            <li><a href="/wallet/statistic/{{ char.character_id }}">{{ char }}</a></li>
                        {% endfor %}
                        <li class="divider"></li>
                        <li><a href="/wallet/statistic/">All characters</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4">
                <form class="form-inline" role="form" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                    <select class="form-control" name="type_period">
                        <option disabled>Select period</option>
                        <option value="0">Current month</option>
                        <option value="1">Last month</option>
                        <option>All period</option>

                    </select>
                    <button type="submit" class="btn btn-default">Отправить</button>
                        </div>
                </form>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>№</th>
                    <th>Solar System</th>
                    <th>Amount</th>
                </tr>
                </thead>
                {% for  Solar, Amount in summa %}
                    <tbody>
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ Solar }}</td>
                        <td>{{ Amount|intword }} ISK.</td>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>


    </div>


{% endblock content %}
