{% extends 'dashboard/base.html' %}
{% load staticfiles humanize %}
{% load i18n %}
{% load evemail_tags new_tags %}

{% block extra_css %}
{#    <link rel="stylesheet" href="{% static "adminlte/bootstrap/css/bootstrap.min.css" %}">#}
{#    <!-- Font Awesome -->#}
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">#}
{#    <!-- Ionicons -->#}
{#    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">#}
{#    <!-- fullCalendar 2.2.5-->#}
{#    <link rel="stylesheet" href="{% static "adminlte/plugins/fullcalendar/fullcalendar.min.css" %}">#}
{#    <link rel="stylesheet" href="{% static "adminlte/plugins/fullcalendar/fullcalendar.print.css" %}" media="print">#}
{#    <!-- Theme style -->#}
{#    <link rel="stylesheet" href="{% static "adminlte/dist/css/AdminLTE.min.css" %}">#}
{#    <!-- AdminLTE Skins. Choose a skin from the css/skins#}
{#         folder instead of downloading all of them to reduce the load. -->#}
{#    <link rel="stylesheet" href="{% static "adminlte/dist/css/skins/_all-skins.min.css" %}">#}
{#    <!-- iCheck -->#}
{#    <link rel="stylesheet" href="{% static "adminlte/plugins/iCheck/flat/blue.css" %}">#}
{##}
{#    <link rel="stylesheet" href="{% static "adminlte/bootstrap/css/bootstrap.min.css" %}">#}
{#    <!-- Font Awesome -->#}
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">#}
{#    <!-- Ionicons -->#}
{#    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">#}
{#    <!-- fullCalendar 2.2.5-->#}
{#    <link rel="stylesheet" href="{% static "adminlte/plugins/fullcalendar/fullcalendar.min.css" %}">#}
{#    <link rel="stylesheet" href="{% static "adminlte/plugins/fullcalendar/fullcalendar.print.css"  %}" media="print">#}
{#    <!-- Theme style -->#}
{#    <link rel="stylesheet" href="{% static "adminlte/dist/css/AdminLTE.min.css" %}">#}
{#    <!-- AdminLTE Skins. Choose a skin from the css/skins#}
{#         folder instead of downloading all of them to reduce the load. -->#}
{#    <link rel="stylesheet" href="{% static "adminlte/dist/css/skins/_all-skins.min.css" %}">#}
{#    <!-- iCheck -->#}
{#    <link rel="stylesheet" href="{% static 'adminlte/plugins/iCheck/flat/blue.css' %}">#}

{% endblock extra_css %}

{% block content %}

        <!-- Main content evemail-->
        <section class="content">
          <div class="row">

            <div class="col-md-3">
              <a href="#" class="btn btn-primary btn-block margin-bottom">Compose</a>
              <div class="box box-solid">
                <div class="box-header with-border">
                  <h3 class="box-title">Folders</h3>
                  <div class="box-tools">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  </div>
                </div>
                <div class="box-body no-padding">
                  <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="#"><i class="fa fa-inbox"></i> Inbox <span class="label label-primary pull-right">{% evemailcount %}</span></a></li>
                    <li><a href="#"><i class="fa fa-envelope-o"></i> Sent</a></li>
                    <li><a href="#"><i class="fa fa-file-text-o"></i> Drafts</a></li>
{#                    <li><a href="#"><i class="fa fa-filter"></i> Junk <span class="label label-warning pull-right">65</span></a></li>#}
                    <li><a href="#"><i class="fa fa-trash-o"></i> Trash</a></li>
                  </ul>
                </div><!-- /.box-body -->
              </div><!-- /. box -->
              <div class="box box-solid">
                <div class="box-header with-border">
                  <h3 class="box-title">Labels</h3>
                  <div class="box-tools">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  </div>
                </div>
                <div class="box-body no-padding">
                  <ul class="nav nav-pills nav-stacked">
                    <li><a href="#"><i class="fa fa-circle-o text-red"></i> Important</a></li>
                    <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> Promotions</a></li>
                    <li><a href="#"><i class="fa fa-circle-o text-light-blue"></i> Social</a></li>
                  </ul>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->





            <div class="col-md-9">
              <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">Inbox</h3>
                  <div class="box-tools pull-right">
                    <div class="has-feedback">

                      <input type="text" class="form-control input-sm" placeholder="Search Mail">
                      <span class="glyphicon glyphicon-search form-control-feedback"></span>

                    </div>
                  </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body no-padding">
                  <div class="mailbox-controls">
                    <!-- Check all button -->
{#                    <button class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i></button>#}
{#                    <div class="btn-group">#}
{#                      <button class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>#}
{#                      <button class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>#}
{#                      <button class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>#}
{#                    </div><!-- /.btn-group -->#}
                  <a href='{% url "evemail_update" %}'>
                    <button class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                    </a>
                    <div class="pull-right">
                     {{ messages.start_index }}-{{ messages.end_index }}/{{ messages.paginator.count }}
                      <div class="btn-group">
                         {% if messages.has_previous %}

                              <a href="?page={{ messages.previous_page_number }}">
                                  <button class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                              </a>

                          {% else %}
                              <a><button class="btn btn-default btn-sm disabled"><i class="fa fa-chevron-left"></i></button></a>
                          {% endif %}

                          {% if messages.has_next %}

                              <a href="?page={{ messages.next_page_number }}">
                                <button class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                              </a>
                          {% else %}
                              <a><button class="btn btn-default btn-sm disabled"><i class="fa fa-chevron-right"></i></button></a>

                          {% endif %}
                      </div><!-- /.btn-group disabled -->
                    </div><!-- /.pull-right -->
                  </div>
                  <div class="table-responsive mailbox-messages">
                    <table class="table table-hover table-striped">
                        <tr>

{#                          <td><input type="checkbox"></td>#}
{#                          <td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>#}
                          <td class="mailbox-name"><b>{% trans 'Sender' %}</b></td>
                          <td class="mailbox-subject"><b>{% trans 'Subject' %}</b></td>
                          <td class="mailbox-name"><b>{% trans 'Addressee' %}</b></td>
                          <td class="mailbox-date"><b>{% trans 'Date sender' %}</b></td>


                        </tr>
                      <tbody>
                      {% for message in messages %}
                        <tr>


{#                          <td><input type="checkbox"></td>#}
{#                          <td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>#}
                          <td class="mailbox-name"><a href="{% url 'evemail_read' message.character.character_id message.id %}">{% character message.sender_id %}</a></td>
                          <td class="mailbox-subject">
                          <a href="{% url 'evemail_read' message.character.character_id message.id %}">
                              {% if message.is_read %}
                              {{ message.title }}
                                  {% else %}
                                  <b>{{ message.title }}</b>
                              {% endif %}
                          </a>

                          </td>
                          <td class="mailbox-name"><a href="{% url 'evemail_read' message.character.character_id message.id %}">{{ message.character.character_name }}</a></td>
                          <td class="mailbox-date">{{ message.sent_date|naturaltime }}</td>

                        </tr>
                      {% endfor %}
                        <tr>


                      </tbody>
                    </table><!-- /.table -->
                  </div><!-- /.mail-box-messages -->
                </div><!-- /.box-body -->
                <div class="box-footer no-padding">
                  <div class="mailbox-controls">
                    <!-- Check all button -->
                    <button class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i></button>
                    <div class="btn-group">
                      <button class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                      <button class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
                      <button class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
                    </div><!-- /.btn-group -->
                    <button class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                    <div class="pull-right">
                      {{ messages.start_index }}-{{ messages.end_index }}/{{ messages.paginator.count }}
                      <div class="btn-group">
                          <ul class="pagination">
                              {% if messages.has_previous %}
                                  <li>
                                      <a href="?page={{ messages.previous_page_number }}">
                                          <i class="fa fa-chevron-left"></i>
                                      </a>
                                  </li>
                              {% else %}
                                  <li class="disabled">
                                      <a><i class="fa fa-chevron-left"></i></a>
                                  </li>
                              {% endif %}
                              {% if messages.has_next %}
                                  <li >
                                      <a href="?page={{ messages.next_page_number }}">
                                          <i class="fa fa-chevron-right"></i>
                                      </a>
                                  </li>
                              {% else %}
                                  <li class="disabled">
                                      <a><i class="fa fa-chevron-right"></i></a>
                                  </li>
                              {% endif %}
                          </ul>
                      </div><!-- /.btn-group -->
                    </div><!-- /.pull-right -->
                  </div>
                </div>
              </div><!-- /. box -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </section><!-- /.content -->

    {% endblock content %}

    {% block extra_script %}


{% comment %}
    <!-- jQuery 2.1.4 -->
    <script src="{% static 'adminlte/plugins/jQuery/jQuery-2.1.4.min.js' %}"></script>
    <!-- Bootstrap 3.3.4 -->
    <script src="{% static 'adminlte/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- Slimscroll -->
    <script src="{% static 'adminlte/plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>
    <!-- FastClick -->
    <script src="{% static 'adminlte/plugins/fastclick/fastclick.min.js' %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static 'adminlte/dist/js/app.min.js' %}"></script>
    <!-- iCheck -->
    <script src="{% static 'adminlte/plugins/iCheck/icheck.min.js' %}"></script>
    <!-- Page Script -->
        {% verbatim %}
    <script>
      $(function () {
        //Enable iCheck plugin for checkboxes
        //iCheck for checkbox and radio inputs
        $('.mailbox-messages input[type="checkbox"]').iCheck({
          checkboxClass: 'icheckbox_flat-blue',
          radioClass: 'iradio_flat-blue'
        });

        //Enable check and uncheck all functionality
        $(".checkbox-toggle").click(function () {
          var clicks = $(this).data('clicks');
          if (clicks) {
            //Uncheck all checkboxes
            $(".mailbox-messages input[type='checkbox']").iCheck("uncheck");
            $(".fa", this).removeClass("fa-check-square-o").addClass('fa-square-o');
          } else {
            //Check all checkboxes
            $(".mailbox-messages input[type='checkbox']").iCheck("check");
            $(".fa", this).removeClass("fa-square-o").addClass('fa-check-square-o');
          }
          $(this).data("clicks", !clicks);
        });

        //Handle starring for glyphicon and font awesome
        $(".mailbox-star").click(function (e) {
          e.preventDefault();
          //detect type
          var $this = $(this).find("a > i");
          var glyph = $this.hasClass("glyphicon");
          var fa = $this.hasClass("fa");

          //Switch states
          if (glyph) {
            $this.toggleClass("glyphicon-star");
            $this.toggleClass("glyphicon-star-empty");
          }

          if (fa) {
            $this.toggleClass("fa-star");
            $this.toggleClass("fa-star-o");
          }
        });
      });
    </script>
    {% endverbatim %}
    <!-- AdminLTE for demo purposes -->
    <script src="{% static 'adminlte/dist/js/demo.js' %}"></script>
{% endcomment %}
 {% endblock extra_script %}