{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load new_tags %}
{% load humanize %}
{% load bootstrap %}


{% block title %}{% trans 'Obligations' %} | {{ block.super }}{% endblock %}
{% block page_title %}{% trans 'Obligations' %}{% endblock page_title %}

{% block extra_css %}

    <link rel="stylesheet" href={% static "adminlte/plugins/datatables/dataTables.bootstrap.css" %}>

{% endblock extra_css %}
{% block content %}
{#   {% permission_corp_account as permissioncorpaccount %}#}
    {% if user.main_char %}
        <div class="box-body">
            <div class="col-lg-12 container" id="example">
                <div class="row">
                    <div class="col-lg-12">
                        {#                        <div class="box-header">{% trans 'Corporation' %}</div>#}
                        <div class="panel-body">
                            <div class="col-lg-5 col-sm-2"><img class="ra-avatar img-responsive"
                                                                src="https://image.eveonline.com/Corporation/{{ user.main_char.corp.corporation_id }}_128.png">
                            </div>
                            <div class="container">
                                <h4 class="">{% trans 'Corporation name' %}: {{ user.main_char.corp.corporation_name }}</h4>
                                <p>{% trans 'Corporation ticker' %}: {{ user.main_char.corp.corporation_ticker }}</p>
                                {#                                {% if user.main_char.is_ceo %}#}
                                <p>{% trans 'Account balance' %}:
                                    {% if permissioncorpaccount %}
                                        {{ user.main_char.corp_account.balance|intword }} ISK
                                    {% else %}
                                        {% trans 'You do not have the required permission' %}

                                    {% endif %}
                                </p>
                                {#                                    <p>{% trans 'Total Authed Members' %}: {{ currentCount }}</p>#}
                                {#                                {% endif %}#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="box">
    <div class="box-header">{% trans 'Obligations' %}
    </div><!-- /.box-header -->
    <div class="box-body">
        <table id="system" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th class="text-center">№</th>
                {#                            <th class="text-center">{% trans 'reference' %}</th>#}
                <th class="text-center">{% trans 'source' %}</th>
                <th class="text-center">{% trans 'destination' %}</th>
                <th class="text-center">{% trans 'amount' %}</th>
                <th class="text-center">{% trans 'System' %}</th>
                <th class="text-center">{% trans 'status' %}</th>
                <th class="text-center">{% trans 'To pay up to' %}</th>
{#                <th class="text-center">{% trans 'Action' %}</th>#}
            </tr>
            </thead>
            <tbody>
            {% for obligation in obligations %}
                <tr>
                    <td class="text-center"><p class="">{{ obligation.pk }}</p></td>
                    {#                            <td class="text-center"><p class="">{{ obligation.reference }}</p></td>#}
                    <td class="text-center"><p class="">{{ obligation.source }}</p></td>
                    <td class="text-center"><p class="">{{ obligation.destination }}</p></td>
                    <td class="text-center"><p class="">{{ obligation.amount|intword }} ISK.</p></td>
                    <td class="text-center"><p class="">{{ obligation.contract.rent_system }}</p></td>
                    <td class="text-center"><p class="">{{ obligation.get_status_display }}</p></td>
                    <td class="text-center"><p class="">{{ obligation.date_payment|date }}</p></td>
{#                    <td class="text-center">#}
{#                        <p class="">#}
{#                            <a href="#">#}
{#                                <button type="button" class="btn btn-primary">#}
{#                                    <span>{% trans 'Rents' %}</span>#}
{#                                </button>#}
{#                            </a>#}
{#                        </p>#}
{#                    </td>#}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content %}

{% block extra_script %}
    <!-- DataTables -->
    <script src={% static "adminlte/plugins/datatables/jquery.dataTables.min.js" %}></script>
    <script src={% static "adminlte/plugins/datatables/dataTables.bootstrap.min.js" %}></script>
    <!-- SlimScroll -->
    <script src={% static "adminlte/plugins/slimScroll/jquery.slimscroll.min.js" %}></script>
    <!-- FastClick -->
    <script src={% static "adminlte/plugins/fastclick/fastclick.min.js" %}></script>
    <!-- AdminLTE App -->
    <script src={% static "adminlte/dist/js/app.min.js" %}></script>
    <!-- AdminLTE for demo purposes -->
    <script src={% static "adminlte/dist/js/demo.js" %}></script>

    {% verbatim %}
    <script>
        $(function () {
            $("#system").DataTable(
                    {
                        "paging": true,
                        "lengthChange": true,
                        "searching": true,
                        "ordering": true,
                        "info": true,
                        "autoWidth": true
                    }
            );

        });
    </script>

    {% endverbatim %}

{% endblock extra_script %}