{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load new_tags %}
{% load humanize %}
{% load bootstrap  %}




{% block title %}{% trans 'Rent system' %} | {{ block.super }}{% endblock %}
{% block page_title %}{% trans 'Rent system' %}{% endblock page_title %}

{% block extra_css %}

    <link rel="stylesheet" href={% static "adminlte/plugins/datatables/dataTables.bootstrap.css" %}>

{% endblock extra_css %}
{% block content %}
{#   {% permission_corp_account as permissioncorpaccount %}#}
    {% if user.main_char %}
        <div class="box-body">
            <div class="col-lg-12 container" id="example">
                <div class="row">
                    <div class="col-lg-12">
                        {#                        <div class="box-header">{% trans 'Corporation' %}</div>#}
                        <div class="panel-body">
                            <div class="col-lg-5 col-sm-2"><img class="ra-avatar img-responsive"
                                                                src="https://image.eveonline.com/Corporation/{{ user.main_char.corp.corporation_id }}_128.png">
                            </div>
                            <div class="container">
                                <h4 class="">{% trans 'Corporation name' %}: {{ user.main_char.corp.corporation_name }}</h4>
                                <p>{% trans 'Corporation ticker' %}: {{ user.main_char.corp.corporation_ticker }}</p>
                                {#                                {% if user.main_char.is_ceo %}#}
                                <p>{% trans 'Account balance' %}: {{ permission_corp_account }}
                                    {% if permissioncorpaccount %}
                                        {{ user.main_char.corp_account.balance|intword }} ISK
                                    {% else %}
                                        {% trans 'You do not have the required permission' %}

                                    {% endif %}
                                </p>
                                {#                                    <p>{% trans 'Total Authed Members' %}: {{ currentCount }}</p>#}
                                {#                                {% endif %}#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}


            <div class="box">
                <div class="box-header">{% trans 'Rent Systems' %}
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table id ="system" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th class="text-center">№</th>
                            <th class="text-center">{% trans 'System name' %}</th>
                            <th class="text-center">{% trans 'Price' %}</th>
{#                            <th class="text-center">{% trans 'Alliance' %}</th>#}
{#                            <th class="text-center">{% trans 'Corporation' %}</th>#}
{#                            <th class="text-center">{% trans 'Security' %}</th>#}
{#                            <th class="text-center">{% trans 'Icebelts' %}</th>#}
{#                            <th class="text-center">{% trans 'Stations/Outposts' %}</th>#}
                            <th class="text-center">{% trans 'Status' %}</th>
                            <th class="text-center">{% trans 'start' %}</th>
                            <th class="text-center">{% trans 'end' %}</th>
                            <th class="text-center">{% trans 'Rent manager' %}</th>
                            <th class="text-center">{% trans 'CEO Valid' %}</th>
{#                            <th class="text-center">{% trans 'Impasse' %}</th>#}
                            <th class="text-center">{% trans 'Edit' %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for rentcontract in rentcontract_list %}
                            <tr>
                            <td class="text-center"><p class="">{{ rentcontract.pk }}</p></td>


                            <td class="text-center"><p class="">{{ rentcontract.rent_system.system.system }}</p></td>

                            <td class="text-center"><p class="">{{ rentcontract.price|intword }} ISK.</p></td>
                            <td class="text-center"><p class="">{{ rentcontract.get_status_display }}</p></td>
                            <td class="text-center"><p class="">{{ rentcontract.created }}</p></td>
                            <td class="text-center"><p class="">{{ rentcontract.end_date }}</p></td>
                            <td class="text-center"><p class="">{{ rentcontract.rent_manager_character }}</p></td>
                            <td class="text-center"><p class="">{{ rentcontract.valid_ceo }}</p></td>
                            <td class="text-center"><p class="">
                            {% if rentcontract.end_date  %}

                            <button type="button" class="btn btn-block btn-danger disabled">
                                    <span >{% trans 'Closed' %}</span>
                                </button>
                                {% else %}
                            <a href="{% url 'close_rent_contract' rentcontract.pk %}">
                                <button type="button" class="btn btn-block btn-danger">
                                    <span >{% trans 'Close' %}</span>
                                </button>
                            </a>{% endif %}
                            </p></td>
                            </tr>
                        {% endfor %}
                        </tfoot>
                    </table>
                </div>

{% endblock content %}

{% block extra_script %}
    <!-- DataTables -->
    <script src={% static "adminlte/plugins/datatables/jquery.dataTables.min.js" %}></script>
    <script src={% static "adminlte/plugins/datatables/dataTables.bootstrap.min.js" %}></script>
    <!-- SlimScroll -->
    <script src={% static "adminlte/plugins/slimScroll/jquery.slimscroll.min.js" %}></script>
    <!-- FastClick -->
    <script src={% static "adminlte/plugins/fastclick/fastclick.min.js" %}></script>
    <!-- AdminLTE App -->
    <script src={% static "adminlte/dist/js/app.min.js" %}></script>
    <!-- AdminLTE for demo purposes -->
    <script src={% static "adminlte/dist/js/demo.js" %}></script>

    {% verbatim %}
    <script>
        $(function () {
            $("#system").DataTable(
                    {
                        "paging": true,
                        "lengthChange": true,
                        "searching": true,
                        "ordering": true,
                        "info": true,
                        "autoWidth": true
                    }
            );

        });
    </script>

    {% endverbatim %}

{% endblock extra_script %}