{% extends 'home.html' %}
{% load i18n highlight bootstrap3  new_tags %}
{% block page_title %}
    Search
    <small>{{ query }}</small>
{% endblock page_title %}
{% block content %}
    <!-- SELECT2 EXAMPLE -->
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Search {{ query }}</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
            </div>
        </div><!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <form method="get" action=".">
                    <div class="col-md-6">
                        <div class="form-group">
                            {% bootstrap_form form %}
                        </div><!-- /.form-group -->
                        <div class="form-group">
                            {% bootstrap_button "Search" button_type="submit" button_class="btn-primary" %}
                            {#                            <input value="Search" type="submit">#}
                        </div><!-- /.form-group -->
                    </div><!-- /.col -->
                    {#                    <div class="col-md-6">#}
                    {#                        <div class="form-group">#}
                    {#                            <label>Multiple</label>#}
                    {#                            <select class="form-control select2" multiple="multiple" data-placeholder="Select a State"#}
                    {#                                    style="width: 100%;">#}
                    {##}
                    {#                            </select>#}
                    {#                        </div><!-- /.form-group -->#}
                    {#                        <div class="form-group">#}
                    {#                            <label>Disabled Result</label>#}
                    {#                            <select class="form-control select2" style="width: 100%;">#}
                    {##}
                    {#                            </select>#}
                    {#                        </div><!-- /.form-group -->#}
                    {#                    </div><!-- /.col -->#}
                </form>
            </div><!-- /.row -->

        </div><!-- /.box-body -->
        <div class="box-footer">
            {#            {{ object_list }}#}
            {#                        <a href="{{ object.get_absolute_url }}">{{ object }}</a>#}
            {#            the plugin.#}
        </div>
    </div><!-- /.box -->

    {% if query %}
        {% for result in object_list %}
            <div class="box box-solid">
                <div class="box-header with-border">

                    <h3 class="box-title"><a href="{{ result.object.get_absolute_url }}">{{ result.object }} </a></h3>
                    {% if result.object.ticker %}
                        {% trans 'ticker' %}: {{ result.object.ticker }}
                    {% endif %}

                    <small class="text-muted pull-right">{{ result.score }}</small>
                </div><!-- /.box-header -->
                <div class="box-body">
                    {# TODO: Непонятная хрень.  TypeError: argument of type 'Character' is not iterable #}
                    {# <p class="text">{% highlight result.text with query html_tag "b" css_class "" max_length 40 %}</p>#}
                    {% if result.object.description %}
                        {% autoescape off %}
                            {{ result.object.description|cleaned_text|truncatechars_html:80 }}
                        {% endautoescape %}
                    {% endif %}
                    <p class="text-muted">{% trans 'update' %}: {{ result.object.update }}</p>
                </div><!-- /.box-body -->

            </div>
        {% endfor %}


        {% include 'base_templates/pagination.html' %}
    {% else %}
        {#         Show some example queries to run, maybe query syntax, something else?#}
    {% endif %}
{% endblock %}