{% load staticfiles %}
{% load bootstrap %}
{% load i18n %}
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ ALLIANCE_NAME }} - {% trans 'Login' %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet">
    <style>
        html {
            height: 100%;
        }
        body {
            background: url('{% static 'img/index_images/index_blank_bg.jpg' %}') no-repeat scroll;
            background-size: 100% 100%;
        }

        .panel-transparent {
            background: rgba(48, 48, 48, 0.7);
            color: #ffffff;
        }

        .panel-body {

        }
    </style>
</head>
<body>
<div class="container" style="margin-top:50px">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default panel-transparent">
            <div class="panel-body">
                {% if error %}
                    <div class="alert alert-danger" role="alert">{% trans 'Username Already Registered' %}</div>
                {% endif %}
                <form action="{% url 'auth_register_user' %}" method="POST">
                    {% csrf_token %}
                    <h2 class="form-signin-heading">{% trans 'Register Account' %}</h2>
                    {{ form|bootstrap }}
                    <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans 'Register' %}</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
