{% extends "dashboard/base.html" %}

{% load staticfiles comments %}
{% load i18n %}



{% block title %}Alliance Auth{% endblock %}
{% block page_title %}{% trans 'Alliance Auth' %} - {% trans 'View Application' %}{% endblock page_title %}

{% block content %}

{#    <div class="col-lg-12">#}

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header"><h3 class="box-title">
                    {% trans 'View Application' %} {{ application.character.character_name }} for {{ application.corp.corporation_name }}
                </h3></div><!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-4 col-md-2">
                                <img class="ra-avatar img-responsive"
                                     src="https://image.eveonline.com/Character/{{ application.character.character_id }}_256.jpg">
                            </div>
{#                                <div>#}
                            <div class="col-xs-4 col-md-4">
                                <h4 class="">{% trans 'Name' %}: {{ application.character.character_name }}</h4>
                            {% if application.character.corporation %}
                                <p>{% trans 'Corporation' %}:
                                    <a href="{% url 'corp_info' application.character.corporation.corporation_id %}">
                                        {{ application.character.corporation.corporation_name }}
                                    </a>
                                </p>
                            {% endif %}
                                {% if application.character.alliance %}


                                <p>{% trans 'Alliance' %}:
                                    <a href="{% url 'alliance_info' application.character.alliance.alliance_id %}">
                                        {{ application.character.alliance.alliance_name }}
                                    </a>
                                </p>
                                {% endif %}
                                <p>{% trans 'Last Updated:' %}: {{ application.character.update }}</p>
                            </div>
                            <div class="col-xs-6 col-md-6">

                                <div class="table-responsive">
                                    <table class="table table-striped table-hover table-condensed">
                                        <thead>
                                        <tr>
                                            <th>{% trans 'Corporation' %}</th> {# Дата и время транзакции #}
                                            <th>{% trans 'Joined' %}</th> {# Кто #}
                                            <th>{% trans 'Left' %}</th> {# куда #}
                                            <th>{% trans 'delta' %}</th> {# куда #}

                                        </tr>
                                        </thead>
                                        <h4>{% trans 'Corporation History' %}</h4>


                                        <tbody>
                                        {% for corphist in corphistory %}
                                            <tr>
                                                <td><a href="{% url 'corp_info' corphist.corp.corporation_id %}">{{ corphist.corp.corporation_name }}</a>
                                                {% if corphist.corp.is_npc %}
                                                    (NPC)
                                                    {% endif %}
                                                  {% if corphist.corp.is_del %}
                                                    ({% trans 'Disbanded' %})
                                                    {% endif %}
                                                </td>
                                                <td>{{ corphist.start_date }}</td>
                                                <td>{{ corphist.end_date|default_if_none:'' }}</td>
                                                <td>{{ corphist.start_date|timesince:corphist.end_date }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                                    {% if perms.users.human_resources %}
                            <div class="form-group ">
                                <label class="control-label text-center" for="id_extra">{% trans 'Actions' %}</label>

                                <div class="container-fluid well">

                                    <div class="row text-center">
                                        {% if application.reviewer_inprogress_character != None %}
                                            <a href="{% url 'auth_hrapplication_approve' application.id %}">
                                                <button type="button" class="btn btn-lg btn-success">{% trans 'Approve' %}</button>
                                            </a>

                                            <a href="{% url 'auth_hrapplication_reject' application.id %}">
                                                <button type="button" class="btn btn-lg btn-info">{% trans 'Reject' %}</button>
                                            </a>

                                            <a href="{% url 'auth_hrapplication_remove' application.id %}">
                                                <button type="button" class="btn btn-lg btn-danger">{% trans 'Delete' %}</button>
                                            </a>

                                        {% else %}
                                            <a href="{% url 'auth_hrapplication_mark_in_progress' application.id %}">
                                                <button type="button" class="btn btn-lg btn-warning">{% trans 'Mark In Progress' %}
                                                </button>
                                            </a>
                                        {% endif %}
                                    </div>
                                    <br/>

                                    <div class="row text-center">
                                        <a href="{{ JACK_KNIFE_URL }}?usid={{ application.api }}&apik={{ application.api.api_key }}"
                                           target="_blank">
                                            <button type="button" class="btn btn-lg btn-primary">{% trans 'API Jack Knife' %}</button>
                                        </a>
                                        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal"
                                                data-target="#myModal">{% trans 'Comment' %}

                                        </button>
                                    </div>
                                </div>

                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingThree">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                                   href="#collapseThree" aria-expanded="false"
                                                   aria-controls="collapseThree">
                                                    {% get_comment_count for application as comment_count %}
                                                    {% trans 'Comments' %} - {{ comment_count }}
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                                             aria-labelledby="headingThree">
                                            <div class="panel-body">

                                                {% render_comment_list for application %}

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        {% endif %}

{#                    {% url 'auth_hrapplication_personal_view' application.pk as next %}#}
{#                    {% include 'comments/comments_block.html' with content_object=application next=next %}#}


                </div>
            </div>
        </div>
    </div>

  {% if perms.users.human_resources %}
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span
                                aria-hidden="true">&times;</span><span class="sr-only">{% trans 'Close' %}</span></button>
                        <h4 class="modal-title" id="myModalLabel">{% trans 'Add Comment' %}</h4>
                    </div>
                    <div class="modal-body">
                       {% if user.is_authenticated %}
    {% if user.main_char %}
        {% get_comment_form for application as form %}
        <form action="{% comment_form_target %}" method="POST">
        {% csrf_token %}

{#                        {{ form.honeypot }}#}
        {{ form.content_type }}
        {{ form.object_pk }}
        {{ form.timestamp }}
        {{ form.security_hash }}
{#                        <input type="hidden" name="next" value="{% url 'object_detail_view' object.id %}" />#}
            <div class="form-group">
                <label>{% trans 'Оставьте свой коментарий в форму ниже.' %}</label>
                <div>
                {{ form.comment }}
                </div>
            </div>
            <div class="box-footer">
                <input class="btn btn-primary" type="submit" value='{% trans "Add comment" %}' id="id_submit" />
                <input type="hidden" name="next" value="{% url 'auth_hrapplication_personal_view' application.id %}" />
            </div>
        </form>
    {% else %}

        <p>Please <a href="{% url 'add_api_key' %}">add api key</a> and
            <a href="{% url 'auth_characters' %}">select main char</a> to leave a comment.</p>
    {% endif %}
    {% else %}
        <p>Please <a href="{% url 'auth_login_user' %}">log in</a> to leave a comment.</p>
    {% endif %}
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    {% endif %}




{% endblock content %}
