{% extends "dashboard/base.html" %}
{% load i18n %}
{% load bootstrap %}
{% load staticfiles %}

{% block title %}{% trans 'Alliance Auth' %}{% endblock %}

{% block page_title %}{% trans 'HR Application Management' %}{% endblock page_title %}
{% block extra_css %}{% endblock extra_css %}

{% block content %}
    <div class="col-lg-12">
{#        {% if not perms.auth.alliance_member %}#}
            <h1 class="page-header text-center">{% trans 'Personal Applications' %}
                <div class="text-right">
                    <a href="{% url 'auth_hrapplication_create_view' %}">
                        {% if personal_app %}
                            <button type="button" class="btn btn-success" disabled>{% trans 'Create Application' %}</button>
                        {% else %}
                            <button type="button" class="btn btn-success">{% trans 'Create Application' %}</button>
                        {% endif %}
                    </a>
                </div>
            </h1>
            <table class="table table-bordered">
                <tr>
                    <th class="text-center">{% trans 'Application' %} ID</th>
                    <th class="text-center">{% trans 'Username' %}</th>
                    <th class="text-center">{% trans 'Main Character' %}</th>
                    <th class="text-center">{% trans 'Corporation' %}</th>
                    <th class="text-center">{% trans 'Status' %}</th>
                    <th class="text-center">{% trans 'Actions' %}</th>
                </tr>
                {% for personal_app in personal_apps %}
                    <tr>
                        <td class="text-center">{{ personal_app.id }}</td>
                        <td class="text-center">{{ personal_app.user.username }}</td>
                        <td class="text-center">{{ personal_app.character_name }}</td>
                        <td class="text-center">{{ personal_app.corp.corporation_name }}</td>
                        <td class="text-center">
                            {% if personal_app.approved_denied == None %}
                                <div class="panel panel-warning" role="alert">{% trans 'Pending' %}</div>
                            {% elif  personal_app.approved_denied == True %}
                                <div class="panel panel-success" role="alert">{% trans 'Approved' %}</div>
                            {% else %}
                                <div class="panel panel-danger" role="alert">{% trans 'Rejected' %}</div>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            <a href="{% url 'auth_hrapplication_personal_view' personal_app.id%}">
                                <button type="button" class="btn btn-primary"><span
                                        class="glyphicon glyphicon-eye-open"></span></button>
                            </a>

                            {% if personal_app.approved_denied == None %}
                                <a href="{% url 'auth_hrapplication_personal_removal' personal_app.id %}">
                                    <button type="button" class="btn btn-danger"><span
                                            class="glyphicon glyphicon-remove"></span></button>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
{#        {% endif %}#}
        {% if perms.auth.human_resources %}
            <h1 class="page-header text-center">{% trans 'Application Management' %}
                <div class="text-right">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
                        {% trans 'Search Applications' %}
                    </button>
                </div>
            </h1>
            <div class="container-fluid">
                <table class="table table-bordered">
                    <tr>
                        <th class="text-center">{% trans 'Application' %} ID</th>
                        <th class="text-center">{% trans 'Username' %}</th>
                        <th class="text-center">{% trans 'Main Character' %}</th>
                        <th class="text-center">{% trans 'Corporation' %}</th>
                        <th class="text-center">{% trans 'Status' %}</th>
                        <th class="text-center">{% trans 'Actions' %}</th>
                    </tr>
                    {% for app in applications %}
                        <tr>
                            <td class="text-center">{{ app.id }}</td>
                            <td class="text-center">{{ app.user.username }}</td>
                            <td class="text-center">{{ app.character_name }}</td>
                            <td class="text-center">{{ app.corp.corporation_name }}</td>
                            <td class="text-center">
                                {% if app.approved_denied == None %}
                                    <div class="panel panel-warning" role="alert">{% trans 'Pending' %}</div>
                                {% elif  app.approved_denied == True %}
                                    <div class="panel panel-success" role="alert">{% trans 'Approved' %}</div>
                                {% else %}
                                    <div class="panel panel-danger" role="alert">{% trans 'Rejected' %}</div>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                <a href="{% url 'auth_hrapplication_view' app.id %}">
{#                                    {{ app.id }}#}
                                    <button type="button" class="btn btn-primary"><span
                                            class="glyphicon glyphicon-eye-open"></span></button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}
    </div>

    {% if perms.auth.human_resources %}
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                                class="sr-only">{% trans 'Close' %}</span></button>
                        <h4 class="modal-title" id="myModalLabel">{% trans 'Application Search' %}</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-signin" role="form"
{#                              action={% url 'auth_hrapplication_search' %}#}
                                      method="POST">
                            {% csrf_token %}
                            {{ search_form|bootstrap }}
                            <br/>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans 'Search' %}</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}
