{% extends "dashboard/base.html" %}
{% load bootstrap %}
{% load staticfiles %}
{% load i18n %}
{% block title %}{% trans 'Alliance Auth - Create Application' %}{% endblock %}

{% block page_title %}
    {% trans 'Create Application' %}
{% endblock page_title %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}
    <div class="col-lg-12">
    <div class="container-fluid">
            <div class="col-md-4 col-md-offset-4">
                <div class="row">
                <p class="text-center">
                        <a target="_blank"
                           href="https://community.eveonline.com/support/api-key/CreatePredefined?accessMask=1073741823">
                            {% trans 'Create a full API key' %}</a>
                    </p>
                    {% if success %}
                        <div class="alert alert-success text-center" role="alert">{% trans 'Application Submitted' %}</div>
                    {% else %}
                        <form class="form-signin" role="form" action="" method="POST">
                            {% csrf_token %}
                            {{ form|bootstrap }}

                          {# <br/> #}
                            <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans 'Submit Application' %}</button>
                        </form>
                    {% endif %}
                      </div>
            </div>
        </div>
    </div>

{% endblock content %}
