{% extends 'home.html' %}
{% load i18n %}
{% load staticfiles %}

{% block title %} 404 {% trans "Page not found" %} | {{ block.super }}{% endblock %}
{% block page_title %}
     404 {% trans "Page not found" %} | {{ block.super }}
{% endblock page_title %}


{% block breadcrumbs %}

    {{ block.super }}
    <li class="active">404</li>

{% endblock %}


{% block content %}
    {% comment %}<div class="callout callout-info">
        <h4>Tip!</h4>
        <p>Add the layout-top-nav class to the body tag to get this layout. This feature can also be used
            with a sidebar! So use this class if you want to remove the custom dropdown menus from the
            navbar and use regular links instead.</p>
    </div>
    <div class="callout callout-danger">
        <h4>Warning!</h4>
        <p>The construction of this layout differs from the normal one. In other words, the HTML markup of
            the navbar and the content will slightly differ than that of the normal layout.</p>
    </div>{% endcomment %}
    <div class="error-page">
            <h2 class="headline text-yellow"> 404</h2>
            <div class="error-content">
                <h3><i class="fa fa-warning text-yellow"></i> Oops! {% trans "Page not found" %}.</h3>
                <p>
                    {#                    We could not find the page you were looking for.#}
                    {#                    Meanwhile, you may return to dashboard or try using the search#}
                    {#                    form.#}
                    {% trans "Sorry, but the requested page could not be found." %}
                </p>
                {#                <form class="search-form">#}
                {#                    <div class="input-group">#}
                {#                        <input type="text" name="search" class="form-control" placeholder="Search">#}
                {#                        <div class="input-group-btn">#}
                {#                            <button type="submit" name="submit" class="btn btn-warning btn-flat"><i#}
                {#                                    class="fa fa-search"></i></button>#}
                {#                        </div>#}
                {#                    </div><!-- /.input-group -->#}
                {#                </form>#}
            </div><!-- /.error-content -->
        </div><!-- /.error-page -->
    {% comment %}<div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Wellcom</h3>
        </div>
        <div class="box-body">
            <p>The site is under construction. Be careful and report bugs.</p>
            <p>Сайт находится в разработке. Будьте внимательны и сообщайте о ошибках.</p>

        </div><!-- /.box-body -->
    </div><!-- /.box -->{% endcomment %}
{% endblock content %}

