
{% load staticfiles %}
{% load i18n %}
{#{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}#}
<!DOCTYPE html>
<html>
{#<html lang="{{ LANGUAGE_CODE|default:"ru" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>#}

<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<head>
    <meta charset="UTF-8">
        <title> {% block title %}{% trans 'Dashboard' %}{% endblock title %}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.4 -->
    <link rel="stylesheet" href="{% static 'adminlte/bootstrap/css/bootstrap.min.css' %}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href={% static  "adminlte/dist/css/AdminLTE.min.css" %}>
    <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
          page. However, you can choose any other skin. Make sure you
          apply the skin class to the body tag so the changes take effect.
    -->
    <link rel="stylesheet" href={% static "adminlte/dist/css/skins/skin-blue.min.css" %}>
    {% block extra_css %}

    {% endblock extra_css %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>



<body class="skin-blue sidebar-mini">
<div class="wrapper">


    <!-- Main Header -->
    {% include 'dashboard/main_header.html' %}

    <!-- Left side column. contains the logo and sidebar -->
    {% include 'dashboard/left_side_column.html' %}

{#  {% include 'dashboard/page.html' %}#}
        {% block page %}
      <!-- Content Wrapper. Contains page content base.html -->
             <div class="content-wrapper" style="min-height: 1904px;">
{#      <div class="content-wrapper">#}
        <!-- Content Header (Page header) -->
        <section class="content-header">

          <h1>
              {% block page_title %}
                    Page Header
                    <small>Optional description</small>
              {% endblock page_title %}
          </h1>
    {% block breadcrumbs %}
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
            <li class="active">Here</li>
          </ol>
    {% endblock %}

        </section>

        <!-- Main content -->
        <section class="content">


            {% block content %}

          <!-- Your Page Content Here -->
            {% endblock content %}
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

{% endblock %}


    <!-- Main Footer -->
    {% include 'dashboard/main_footer.html' %}

    <!-- Control Sidebar -->
{#    {% include 'dashboard/control_sidebar.html' %}#}

</div><!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 2.1.4 -->
<script src='{% static "adminlte/plugins/jQuery/jQuery-2.1.4.min.js" %}'></script>
<!-- Bootstrap 3.3.4 -->
<script src='{% static "adminlte/bootstrap/js/bootstrap.min.js" %}'></script>
<!-- AdminLTE App -->
<script src='{% static "adminlte/dist/js/app.min.js" %}'></script>

<script src='{% static "js/jquery.datetimepicker.js" %}'></script>
    {% block extra_script %}

    {% endblock extra_script %}

<!-- Optionally, you can add Slimscroll and FastClick plugins.
         Both of these plugins are recommended to enhance the
         user experience. Slimscroll is required when using the
         fixed layout. -->
</body>
</html>
