{% load staticfiles %}
{% load i18n %}
{#{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}#}
<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
{#<html lang="{{ LANGUAGE_CODE|default:"ru" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>#}


<head>
    <meta charset="UTF-8">
    <title> {% block title %}EVEPortal{% endblock title %}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description"
          content="{% block meta-description %}Rent solar system Eve Online.{% endblock meta-description %}">
    <meta name="keywords" content="{% block meta-keywords %}blog, EVEPortal{% endblock meta-keywords %}"/>

    <meta name="google-site-verification" content="jv2HnIfUH6Il6V5iMM8Tn7fU9qmGehyzXZVBlkEDIcM"/>
    <meta name='wmail-verification' content='1376da5d652cc644227c94e609a4142a'/>
    <meta name="msvalidate.01" content="54D0D85BDC545FCCA778599F03A49D12" />
    <!-- Bootstrap 3.3.4 -->
    <link rel="stylesheet" href="{% static 'adminlte/bootstrap/css/bootstrap.min.css' %}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href={% static  "adminlte/dist/css/AdminLTE.min.css" %}>
    <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
          page. However, you can choose any other skin. Make sure you
          apply the skin class to the body tag so the changes take effect.
    -->
    <link rel="stylesheet" href={% static "adminlte/dist/css/skins/skin-blue.min.css" %}>
    {% block extra_head %}{% endblock extra_head %}
    {% block link %}{% endblock link %}
    {% block extra_css %}

    {% endblock extra_css %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

{% if user.is_authenticated %}
    <body class="skin-blue sidebar-mini">
{% else %}
    <body class="skin-blue layout-top-nav">
{% endif %}

{% block google %}
    {% verbatim %}

    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-WKDJV2"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start': new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
                '//www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-WKDJV2');</script>
    <!-- End Google Tag Manager -->
    {% endverbatim %}

{% endblock google %}



<div class="wrapper">
    {% include 'main_header.html' %}
    {% if user.is_authenticated %}
        <!-- Main Header -->
        {#        {% include 'dashboard/main_header.html' %}#}

        <!-- Left side column. contains the logo and sidebar -->
        {% include 'dashboard/left_side_column.html' %}
    {% endif %}

    {% block page %}
        <!-- Content Wrapper. Contains page content base.html -->
        <div class="content-wrapper" style="min-height: 1904px;">
            {#      <div class="content-wrapper">#}
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    {% block page_title %}
                        {#                        Page Header#}
                        {#                        <small>Optional description</small>#}
                    {% endblock page_title %}
                </h1>
                <ol class="breadcrumb">
                    {% block breadcrumbs %}
                        <li class="active"><a href="/"><i class="fa fa-dashboard"></i>Home</a></li>
                        {#    {{ block.super }}#}
                        {#    <li class="active">Index</li>#}
                    {% endblock %}
                </ol>
            </section>
            <!-- Main content -->
            <section class="content">
                {% block content %}
                    <!-- Your Page Content Here -->
                {% endblock content %}
            </section><!-- /.content -->
        </div><!-- /.content-wrapper -->
    {% endblock %}
    <!-- Main Footer -->
    {% include 'dashboard/main_footer.html' %}
    <!-- Control Sidebar -->
    {#    {% include 'dashboard/control_sidebar.html' %}#}
</div><!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 2.1.4 -->
<script src='{% static "adminlte/plugins/jQuery/jQuery-2.1.4.min.js" %}'></script>
<!-- Bootstrap 3.3.4 -->
<script src='{% static "adminlte/bootstrap/js/bootstrap.min.js" %}'></script>
<!-- SlimScroll -->
<script src="{% static 'adminlte/plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>
<!-- FastClick -->
<script src="{% static 'adminlte/plugins/fastclick/fastclick.min.js' %}"></script>
<!-- AdminLTE App -->
<script src='{% static "adminlte/dist/js/app.min.js" %}'></script>

<script src='{% static "js/jquery.datetimepicker.js" %}'></script>
{% block extra_script %}

{% endblock extra_script %}

<!-- Optionally, you can add Slimscroll and FastClick plugins.
         Both of these plugins are recommended to enhance the
         user experience. Slimscroll is required when using the
         fixed layout. -->
</body>
</html>
