{% load staticfiles humanize %}
{% load i18n %}
{% load evemail_tags %}
{% evemail_lists as evemails %}
<!-- Main Header -->
<header class="main-header">
    {% if user.is_authenticated %}
        <!-- Logo -->
        <a href='/' class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>{{ SITE_NAME_SHORT }}</b></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>{{ SITE_NAME }}</b></span>
        </a>
        <nav class="navbar navbar-static-top" role="navigation">
        <a href=/ class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">{% trans 'Toggle navigation' %}</span>
        </a>
        <div >
    {% else %}
        <nav class="navbar navbar-static-top">
        <div class="">
{#        <div class="container">#}
        <div class="navbar-header">
            <a href="#" class="navbar-brand"><b>EVE</b>Portal</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-collapse">
                <i class="fa fa-bars"></i>
            </button>
        </div>
    {% endif %}


    <!-- Collect the nav links, forms, and other content for toggling -->
    {% include 'public/menu.html' %}
    {% if user.is_authenticated %}
        {% include 'dashboard/right_menu.html' %}
    {% else %}
        {% include 'public/right_menu_user_anonim.html' %}
    {% endif %}

    </div><!-- /.container-fluid -->
    </nav>

</header>