{% load i18n %}
{% load comments %}
<div class="box-header">
                    <h3 class="box-title">
                        Comments for {{ content_object }}: {% get_comment_count for content_object as comment_count %}
                    </h3>
                </div><!-- /.box-header -->
{% render_comment_list for content_object %}
<div class="box-body">
{% if user.is_authenticated %}
    {% if user.main_char %}
        {% get_comment_form for content_object as form %}
        <form action="{% comment_form_target %}" method="POST">
        {% csrf_token %}

{#                        {{ form.honeypot }}#}
        {{ form.content_type }}
        {{ form.object_pk }}
        {{ form.timestamp }}
        {{ form.security_hash }}
{#                        <input type="hidden" name="next" value="{% url 'object_detail_view' object.id %}" />#}
            <div class="form-group">
                <label>{% trans 'Оставьте свой коментарий в форму ниже.' %}</label>
                <div>
                {{ form.comment }}
                </div>
            </div>
            <div class="box-footer">
                <input class="btn btn-primary" type="submit" value='{% trans "Add comment" %}' id="id_submit" />
                <input type="hidden" name="next" value={{ next }} />
            </div>
        </form>
    {% else %}

        <p>Please <a href="{% url 'add_api_key' %}">add api key</a> and
            <a href="{% url 'auth_characters' %}">select main char</a> to leave a comment.</p>
    {% endif %}
    {% else %}
        <p>Please <a href="{% url 'auth_login_user' %}">log in</a> to leave a comment.</p>
    {% endif %}

{% comment %}

                    {% url 'char_info_public' character.pk as next %}
                    {% include 'comments/comments_block.html' with content_object=character next=next %}
{% endcomment %}