{% comment %}<dl id="comments">
  {% for comment in comment_list %}
    <dt id="c{{ comment.id }}">
      {{ comment.submit_date }} - {{ comment.user.main_char }}
    </dt>
    <dd>
      <p>{{ comment.comment }}</p>
    </dd>
  {% endfor %}
</dl>
{% endcomment %}
<dl id="comments">
    {% for comment in comment_list %}
        <blockquote>

            <p>{{ comment.comment }}</p>
            <dt id="c{{ comment.id }}">
                <footer>{{ comment.user.main_char }} - {{ comment.submit_date }}</footer>
            </dt>
        </blockquote>
    {% endfor %}
</dl>