{% extends "home.html" %}
{#{% extends "pinax/blog/blog_base.html" %}#}

{% block page_title %}Blog Posts{% endblock %}

                    {% block breadcrumbs %}{{ block.super }}
                     <li><a href="{% url 'blog' %}">Blog</a></li>
                    {% endblock %}

{% block content %}
{#    <h1>Blog Posts</h1>#}
    {% if post_list %}
        <div class="post-list">
            {% for post in post_list %}
                <div class="post">
                    <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                    {% include "pinax/blog/dateline.html" %}
                    <div class="teaser">{{ post.teaser_html|safe }}</div>
                    <p class="more"><a href="{{ post.get_absolute_url }}" class="post-link">read more...</a></p>
                </div>
            {% endfor %}
        </div>
{#        {% include "pagination/builtin_pagination_reverse.html" %}#}
    {% else %}
        <p class="alert alert-info lead">No blog posts have been published.</p>
    {% endif %}
{% endblock %}
