{% load staticfiles %}
{% load i18n %}

<!-- Left side column. contains the logo and sidebar -->
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    {% if user.is_authenticated %}

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

            <!-- Sidebar user panel (optional) -->
            <div class="user-panel">
                <div class="pull-left image">

                    {% if user.main_char %}
                        <img src="https://image.eveonline.com/Character/{{ user.main_char.character_id }}_128.jpg"
                             class="img-circle" alt="User Image">
                    {% else %}
                        <img src={% static 'dist/img/who.png' %} class="img-circle" alt="User Image">

                    {% endif %}
                </div>
                <div class="pull-left info">
                    <p>{{ user.username }}</p>
                    <p>
                        <small>{{ user.main_char }}</small>
                    </p>
                    <!-- Status -->
                </div>
            </div>

            <!-- search form (Optional) -->
            <form action="{% url 'portal_search' %}" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
                      <span class="input-group-btn">
                        <button type="submit" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                      </span>
                </div>
            </form>
            <!-- /.search form -->


            <!-- Sidebar Menu -->
            <ul class="sidebar-menu">
                <li class="header">{% trans 'Navigation' %}</li>
                <!-- Optionally, you can add icons to the links -->
                <li class="treeview">
                    <a href="#"><i class="fa fa-sticky-note-o"></i> <span>{% trans 'Rent' %}</span> <i
                            class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="{% url 'rent_home' %}">
                                <i class="fa fa-circle-o fa-fw grayiconecolor"></i>
                                {% trans 'System' %}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'contract_rent_system' %}">
                                <i class="fa fa-files-o fa-fw grayiconecolor"></i>
                                {% trans 'Contracts' %}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'obligations_view' %}">
                                <i class="fa fa-files-o fa-fw grayiconecolor"></i>
                                {% trans 'Obligations' %}
                            </a>
                        </li>
                    </ul>
                </li>


                <li class="treeview active">
                    <a href="#"><i class="fa fa-link"></i> <span>{% trans 'Profile' %}</span> <i
                            class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="{% url 'auth_hrapplications_view' %}">
                                <i class="fa fa-user-plus fa-fw grayiconecolor"></i>
                                {% trans 'HR' %}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'auth_characters' %}">
                                <i class="fa fa-user fa-fw grayiconecolor"></i>
                                {% trans 'characters' %}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'api_key_management' %}">
                                <i class="fa fa-key fa-fw grayiconecolor"></i>
                                {% trans 'Api Keys' %}
                            </a>
                        </li>
                        {#                    <li class="active" >#}
                        <li>
                            <a href="{% url 'password_change' %}">
                                <i class="fa fa-lock fa-fw grayiconecolor"></i>
                                {% trans 'Change Password' %}
                            </a>
                        </li>

                    </ul>
                </li>
                {% if user.is_staff %}
                    <li class="treeview">


                        <a href="#"><i class="fa fa-link"></i> <span>{% trans 'For admin' %}</span> <i
                                class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="{% url 'admin:index' %}">
                                    <i class="fa fa-user-plus fa-fw grayiconecolor"></i>
                                    {% trans 'Админка' %}
                                </a>
                            </li>
{#                            <li>#}
{#                                <a href="#">#}
{#                                    <i class="fa fa-user fa-fw grayiconecolor"></i>#}
{#                                    {% trans 'Transfers' %}#}
{#                                </a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="#">#}
{#                                    <i class="fa fa-key fa-fw grayiconecolor"></i>#}
{#                                    {% trans 'Deferred income report' %}#}
{#                                </a>#}
{#                            </li>#}
{#                            <li class="active">#}
{#                            <li>#}
{#                                <a href="#">#}
{#                                    <i class="fa fa-lock fa-fw grayiconecolor"></i>#}
{#                                    {% trans 'Profit/loss report' %}#}
{#                                </a>#}
{#                            </li>#}

                        </ul>
                    </li>

                {% endif %}
            </ul><!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
    {% endif %}
</aside>