{% load staticfiles humanize %}
{% load i18n %}
{% load evemail_tags %}
{% evemail_lists as evemails %}
<!-- Main Header -->
<header class="main-header">

    <!-- Logo -->
    <a href='/' class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>{{ SITE_NAME_SHORT }}</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>{{ SITE_NAME }}</b></span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href=/ class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">{% trans 'Toggle navigation' %}</span>
        </a>

        <!-- Navbar Right Menu -->
        {% include 'dashboard/right_menu.html' %}

    </nav>
</header>