{% load staticfiles %}
{% load i18n %}

<!-- Main Footer -->
<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        {#        Anything you want#}
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2015 <a href="/">EVEPortal</a>.</strong>
    <p></p>

    EVE Online and the EVE logo are the registered trademarks of CCP hf. All rights are reserved worldwide. All other
    trademarks are the property of their respective owners. EVE Online, the EVE logo, EVE and all associated logos and
    designs are the intellectual property of CCP hf. All artwork, screenshots, characters, vehicles, storylines, world
    facts or other recognizable features of the intellectual property relating to these trademarks are likewise the
    intellectual property of CCP hf. CCP hf. has granted permission to EVSCO to use EVE Online and all associated logos
    and designs for promotional and information purposes on its website but does not endorse, and is not in any way
    affiliated with, EVSCO. CCP is in no way responsible for the content on or functioning of this website, nor can it
    be liable for any damage arising from the use of this website.</p>
</footer>