{% load staticfiles %}
{% load i18n %}

{% block page %}
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            {% block page_title %}
          <h1>
            Page Header
            <small>Optional description</small>
          </h1>
            {% endblock page_title %}
{#          <ol class="breadcrumb">#}
{#            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>#}
{#            <li class="active">Here</li>#}
{#          </ol>#}
        </section>

        <!-- Main content -->
        <section class="content">
        {% block content_page %}

dfdfdfsd
          <!-- Your Page Content Here -->
    {% endblock content_page %}
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

{% endblock %}