{% load staticfiles humanize %}
{% load i18n %}
{% load evemail_tags %}
{% evemail_lists as evemails %}
<div class="navbar-custom-menu">
    <ul class="nav navbar-nav">
        <!-- Messages: style can be found in dropdown.less-->
        <li class="dropdown messages-menu">
            <!-- Menu toggle button -->
            <a href=# class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-envelope-o"></i>
                <span class="label label-success">{% evemailcount %}</span>
            </a>
            <ul class="dropdown-menu">
                <li class="header">
                    You have {% evemailcount %} message(s)
                </li>
                <li>
                    <!-- inner menu: contains the messages -->
                    <ul class="menu">
                        {% for mail in evemails %}
                            <li><!-- start message -->
                                <a href="{% url 'evemail_read' mail.character.character_id mail.pk %}">
                                    <div class="pull-left">
                                        <!-- User Image -->
                                        <img src="https://image.eveonline.com/Character/{{ mail.sender_id }}_128.jpg"
                                             class="img-circle" alt="User Image">
                                    </div>
                                    <!-- Message title and timestamp -->

                                    <h4>
                                        {{ mail.title|truncatechars:15 }}
                                        <small><i class="fa fa-clock-o"></i>{{ mail.sent_date|naturalday }}</small>
                                    </h4>
                                    <!-- The message -->
                                    <p>{{ mail.content|striptags|truncatechars:32 }}</p>
                                </a>
                            </li><!-- end message -->
                        {% endfor %}
                    </ul><!-- /.menu -->
                </li>
                <li class="footer"><a href='{% url 'evemail_all' %}'>{% trans 'See All Messages' %}</a></li>
            </ul>
        </li><!-- /.messages-menu -->

{#        <!-- Notifications Menu -->#}
{#        <li class="dropdown notifications-menu">#}
{#            <!-- Menu toggle button -->#}
{#            <a href="#" class="dropdown-toggle" data-toggle="dropdown">#}
{#                <i class="fa fa-bell-o"></i>#}
{#                <span class="label label-warning"></span>#}
{#            </a>#}
{#            <ul class="dropdown-menu">#}
{#                <li class="header">{% blocktrans %}You have notifications{% endblocktrans %}</li>#}
{#                <li>#}
{#                    <!-- Inner Menu: contains the notifications -->#}
{#                    <ul class="menu">#}
{#                        <li><!-- start notification -->#}
{##}
{##}
{#                            <a>#}
{#                                <i class="fa fa-users text-aqua"></i>#}
{#                                character#}
{#                            </a>#}
{##}
                            {#                                    <a href="#">#}
                            {#                                        <i class="fa fa-users text-aqua"></i>{% trans '5 new members joined today' %}#}
                            {#                                    </a>#}
{#                        </li><!-- end notification -->#}
{#                    </ul>#}
{#                </li>#}
{#                <li class="footer"><a href="#">{% trans 'View all' %}</a></li>#}
{#            </ul>#}
{#        </li>#}
{#        <!-- Tasks Menu -->#}
{#        <li class="dropdown tasks-menu">#}
{#            <!-- Menu Toggle Button -->#}
{#            <a href="#" class="dropdown-toggle" data-toggle="dropdown">#}
{#                <i class="fa fa-flag-o"></i>#}
{#                <span class="label label-danger">9</span>#}
{#            </a>#}
{#            <ul class="dropdown-menu">#}
{#                <li class="header">{% trans 'You have 9 tasks' %}</li>#}
{#                <li>#}
{#                    <!-- Inner menu: contains the tasks -->#}
{#                    <ul class="menu">#}
{#                        <li><!-- Task item -->#}
{#                            <a href="#">#}
{#                                <!-- Task title and progress text -->#}
{#                                <h3>#}
{#                                    {% trans 'Design some buttons' %}#}
{#                                    <small class="pull-right">20%</small>#}
{#                                </h3>#}
{#                                <!-- The progress bar -->#}
{#                                <div class="progress xs">#}
{#                                    <!-- Change the css width attribute to simulate progress -->#}
{#                                    <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar"#}
{#                                         aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">#}
{#                                        <span class="sr-only">{% trans '20% Complete' %}</span>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </a>#}
{#                        </li><!-- end task item -->#}
{#                    </ul>#}
{#                </li>#}
{#                <li class="footer">#}
{#                    <a href=#>{% trans 'View all tasks' %}</a>#}
{#                </li>#}
{#            </ul>#}
{#        </li>#}
        <!-- User Account Menu -->
        <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <!-- The user image in the navbar-->
                {% if user.main_char %}
                    <img src="https://image.eveonline.com/Character/{{ user.main_char.character_id }}_128.jpg"
                         class="user-image" alt="User Image">
                {% else %}
                    <img src="{% static 'adminlte/dist/img/who.png' %}" class="user-image" alt="User Image">
                {% endif %}
                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                <span class="hidden-xs">{{ user.username }}</span>
            </a>
            <ul class="dropdown-menu">
                <!-- The user image in the menu 160*160-->
                <li class="user-header">
                    {% if user.main_char %}
                        <img src="https://image.eveonline.com/Character/{{ user.main_char.character_id }}_256.jpg"
                             class="img-circle" alt="User Image">
                    {% else %}
                        <img src="{% static 'adminlte/dist/img/who.png' %}" class="img-circle" alt="User Image">

                    {% endif %}
                    <p>
                        {{ user.username }}
                        <small>{{ user.main_char.character_name }} - {{ user.main_char.corp }}</small>
                        {#                                <small></small>#}
                    </p>
                </li>
                <!-- Menu Body -->
                <li class="user-body">
                    <div class="col-xs-4 text-center">
                        <a href="{% url 'auth_characters' %}">{% trans 'Characters' %}</a>
                    </div>
                    <div class="col-xs-4 text-center">
                        <a href="#">{% trans 'Groups' %}</a>
                    </div>
                    <div class="col-xs-4 text-center">
                        <a href="#">{% trans 'API Keys' %}</a>
                    </div>
                </li>
                <!-- Menu Footer-->
                <li class="user-footer">
                    <div class="pull-left">
                        <a href="#" class="btn btn-default btn-flat">{% trans 'Profile' %}</a>
                    </div>
                    <div class="pull-right">
                        <a href='{% url 'auth_logout_user' %}'
                           class="btn btn-default btn-flat">{% trans 'Sign out' %}</a>
                    </div>
                </li>
            </ul>
        </li>
    <ul class="nav navbar-nav">
         {% include 'base/includes/change-language.html' %}
            <li><a href="{% url 'auth_logout_user' %}">{% trans 'Sign out' %}</a></li>

        </ul>
        <!-- Control Sidebar Toggle Button -->
        {#                <li>#}
        {#                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>#}
        {#                </li>#}
    </ul>
</div>