{% extends "base.html" %}
{% load i18n %}


{% block title %}{% trans 'List of alliances in the game EVE Online.' %} - {{ block.super }}{% endblock title %}

{% block meta-description %}{% trans 'List of alliances in the game EVE Online.' %}{% endblock meta-description %}
{% block meta-keywords %}{% trans 'Alliances list' %}{% endblock meta-keywords %}



{% block page_title %}
    {% trans 'Alliances' %}
    <small></small>
{% endblock page_title %}


{% block breadcrumbs %}

    {{ block.super }}
    <li class="active">{% trans 'Alliances' %}</li>

{% endblock %}

{% block content %}


    <section class="content">

        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">{% trans 'Alliances list' %}</h3>
                        <div class="box-tools">

                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover" id="characters">
                            <tbody>
                            <tr>
                                {#                                <th>{% trans 'Corporation' %}</th>#}
                                {#                                <th>{% trans '' %}</th>#}
                                <th>{% trans 'Name' %}</th>
                                <th>{% trans 'Ticker' %}</th>
                                <th>{% trans 'Corps' %}</th>
                                <th>{% trans 'Members' %}</th>
                                <th></th>
                            </tr>
                            {% if object_list %}
                                {% for alliance in object_list %}
                                    <tr>
                                        <td>{{ alliance.name }}</td>
                                        <td>{{ alliance.ticker }}</td>
                                        <td>{{ alliance.corporation_set.count }}</td>
                                        <td>{{ alliance.character_set.count }}</td>
                                        {#                                        <td><a href="{% url 'corp_info' character.corporation.pk %}">{{ character.corporation }}</a></td>#}
                                        {#                                        <td>{{ corporation.alliance|default_if_none:'' }}</td>#}
                                        <td><a href="{% url 'alliance_info' alliance.pk %}"
                                               class="see_detail">{% trans 'more' %}</a></td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div><!-- /.box-body -->


                    <div class="box-footer clearfix">
                        {% include 'base/includes/pagination/pagination_sm_right.html' %}
                    </div>
                </div><!-- /.box -->
            </div>
        </div>
    </section>

{% endblock %}