{% extends "dashboard/base.html" %}

{% load staticfiles comments %}
{% load i18n %}

{% block title %}
    {% trans 'Details of the character' %} {{ character.character_name }} - {{ block.super }}
{% endblock title %}

{% block meta-description %}{% blocktrans with name=character.character_name %}Details of the character {{ name }} in the game EVE Online.
{% endblocktrans %}{% endblock meta-description %}

{% block meta-keywords %}{% trans 'character' %}, {{ character.character_name }}{% endblock meta-keywords %}


{% block page_title %}
    {% trans 'Details of the character' %} {{ character.character_name }}
{% endblock page_title %}



{% block content %}

{#    <div class="col-lg-12">#}

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header"><h3 class="box-title">{% trans 'Public information about character' %}</h3></div><!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-4 col-md-2">
                                <img class="ra-avatar img-responsive"
                                     src="https://image.eveonline.com/Character/{{ character.character_id }}_256.jpg">
                            </div>
{#                                <div>#}
                            <div class="col-xs-4 col-md-4">
                                <h4 class="">{% trans 'Name' %}: {{ character.character_name }}</h4>
                            {% if character.corporation %}
                                <p>{% trans 'Corporation' %}:
                                    <a href="{% url 'corp_info' character.corporation.corporation_id %}">
                                        {{ character.corporation.corporation_name }}
                                    </a>
                                </p>
                            {% endif %}
                                {% if character.alliance %}


                                <p>{% trans 'Alliance' %}:
                                    <a href="{% url 'alliance_info' character.alliance.alliance_id %}">
                                        {{ character.alliance.alliance_name }}
                                    </a>
                                </p>
                                {% endif %}
                                <p>{% trans 'Last Updated:' %}: {{ character.update }}</p>
                            </div>
                            <div class="col-xs-6 col-md-6">
                            {% if character.is_npc %}
                                <p>{% trans 'This NPC character.' %}</p>

                            {% else %}
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover table-condensed">
                                        <thead>
                                        <tr>
                                            <th>{% trans 'Corporation' %}</th> {# Дата и время транзакции #}
                                            <th>{% trans 'Joined' %}</th> {# Кто #}
                                            <th>{% trans 'Left' %}</th> {# куда #}
                                            <th>{% trans 'delta' %}</th> {# куда #}

                                        </tr>
                                        </thead>
                                        <h4>{% trans 'Corporation History' %}</h4>


                                        <tbody>
                                        {% for corphist in corphistory %}
                                            <tr>
                                                <td><a href="{% url 'corp_info' corphist.corporation.corporation_id %}">{{ corphist.corporation.corporation_name }}</a>
                                                {% if corphist.corporation.is_npc %}
                                                    (NPC)
                                                    {% endif %}
                                                  {% if corphist.corporation.is_del %}
                                                    ({% trans 'Disbanded' %})
                                                    {% endif %}
                                                </td>
                                                <td>{{ corphist.start_date }}</td>
                                                <td>{{ corphist.end_date|default_if_none:'' }}</td>
                                                <td>{{ corphist.start_date|timesince:corphist.end_date }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                    {% url 'char_info_public' character.pk as next %}
                    {% include 'comments/comments_block.html' with content_object=character next=next %}


                </div>
            </div>
        </div>
    </div>






{% endblock content %}
