{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'List of characters in the game EVE Online.' %} - {{ block.super }}{% endblock title %}

{% block meta-description %}{% trans 'List of characters in the game EVE Online.' %}{% endblock meta-description %}
{% block meta-keywords %}{% trans 'Characters list' %}{% endblock meta-keywords %}


{% block page_title %}
    {% trans 'Characters' %}
    <small></small>
{% endblock page_title %}


{% block breadcrumbs %}

    {{ block.super }}
    <li class="active">{% trans 'Characters' %}</li>

{% endblock %}

{% block content %}


    <section class="content">

        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">{% trans 'Characters list' %}</h3>
                        <div class="box-tools">

                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover" id="characters">
                            <tbody>
                            <tr>
                                <th>{% trans 'Character' %}</th>
                                <th>{% trans 'Corporation' %}</th>
                                <th>{% trans 'Alliance' %}</th>
                                <th></th>
                            </tr>
                            {% if object_list %}
                                {% for character in object_list %}
                                    <tr>
                                        <td>{{ character.name }}</td>
                                        <td>
                                            {% if character.corporation %}
                                            <a href="{% url 'corp_info' character.corporation.pk %}">{{ character.corporation }}</a>
                                            {% endif %}
                                        </td>
                                        <td>{{ character.alliance|default_if_none:'' }}</td>
                                        <td><a href="{% url 'char_info_public' character.pk %}"
                                               class="see_detail">{% trans 'more' %}</a></td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div><!-- /.box-body -->


                    <div class="box-footer clearfix">
                        {% include 'base/includes/pagination/pagination_sm_right.html' %}
                    </div>
                </div><!-- /.box -->
            </div>
        </div>
    </section>

{% endblock %}