{% extends 'home.html' %}
{% load i18n %}
{% load staticfiles %}

{% block extra_css %}

{% endblock extra_css %}


{% block page_title %}
    Home
    <small></small>
{% endblock page_title %}


{% block breadcrumbs %}

    {{ block.super }}
    <li class="active">Index</li>

{% endblock %}


{% block content %}
    {% comment %}<div class="callout callout-info">
        <h4>Tip!</h4>
        <p>Add the layout-top-nav class to the body tag to get this layout. This feature can also be used
            with a sidebar! So use this class if you want to remove the custom dropdown menus from the
            navbar and use regular links instead.</p>
    </div>
    <div class="callout callout-danger">
        <h4>Warning!</h4>
        <p>The construction of this layout differs from the normal one. In other words, the HTML markup of
            the navbar and the content will slightly differ than that of the normal layout.</p>
    </div>{% endcomment %}

    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Wellcom</h3>
        </div>
        <div class="box-body">
            <p>The site is under construction. Be careful and report bugs.</p>
            <p>Сайт находится в разработке. Будьте внимательны и сообщайте о ошибках.</p>

        </div><!-- /.box-body -->
    </div><!-- /.box -->
{% endblock content %}

{% block extra_script %}

{% endblock extra_script %}