{% load staticfiles %}
{% load i18n %}
<!--  -->
<div class="collapse navbar-collapse pull-left" id="navbar-collapse">
    <ul class="nav navbar-nav">
        {% if user.is_authenticated %}
            {#            <li class="active"><a href="{% url 'auth_characters' %}">Dashboard<span class="sr-only">(current)</span></a></li>#}


        {% endif %}
        <li>
            <a href="https://forums.eveonline.com/default.aspx?g=posts&t=399668&find=unread">Forum</a>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">eveonline <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="{% url 'characters_list' %}">{% trans 'Characters' %}</a></li>
                <li><a href="{% url 'corporations_list' %}">{% trans 'Corporations' %}</a></li>
                <li><a href="{% url 'alliances_list' %}">{% trans 'Alliances' %}</a></li>
{#                <li class="divider"></li>#}
{#                <li><a href="#">Separated link</a></li>#}
{#                <li class="divider"></li>#}
{#                <li><a href="#">One more separated link</a></li>#}
            </ul>
        </li>
        {#        <li class="dropdown">#}
        {#            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>#}
        {#            <ul class="dropdown-menu" role="menu">#}
        {#                <li><a href="#">Action</a></li>#}
        {#                <li><a href="#">Another action</a></li>#}
        {#                <li><a href="#">Something else here</a></li>#}
        {#                <li class="divider"></li>#}
        {#                <li><a href="#">Separated link</a></li>#}
        {#                <li class="divider"></li>#}
        {#                <li><a href="#">One more separated link</a></li>#}
        {#            </ul>#}
        {#        </li>#}


    </ul>
    {% if user.is_authenticated %}

    {% else %}
        {% include 'public/search.html' %}

    {% endif %}
</div><!-- /.navbar-collapse -->


