{% load staticfiles %}
{% load i18n %}
<header class="main-header">
    <nav class="navbar navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a href="#" class="navbar-brand"><b>EVE</b>Portal</a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar-collapse">
                    <i class="fa fa-bars"></i>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            {% include 'public/menu.html' %}
            {% if user.is_authenticated %}
                {% include 'dashboard/right_menu.html' %}
            {% else %}
                {% include 'public/right_menu_user_anonim.html' %}
            {% endif %}

        </div><!-- /.container-fluid -->
    </nav>
</header>