{% load staticfiles %}
{% load i18n %}
{% load staticfiles humanize %}
{% load i18n %}
{% load evemail_tags %}
{% evemail_lists as evemails %}
<div class="navbar-custom-menu">
    <ul class="nav navbar-nav">

     {% include 'base/includes/change-language.html' %}
        <ul class="nav navbar-nav">
            <li><a href="{% url 'auth_login_user' %}">{% trans 'Log in' %}</a></li>

        </ul>

    </ul>
</div>
