{% load staticfiles %}
{% load i18n %}

<form class="navbar-form navbar-left" role="search" method="get" action="{% url 'portal_search' %}">
    <div class="input-group">
        <input type="text" name="q" class="form-control" id="navbar-search-input" placeholder="Search">
{#        <span class="input-group-btn">#}
{#                        <button type="submit" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>#}
{#                      </span>#}
    </div>
</form>

{#<form action="{% url 'portal_search' %}" method="get" class="navbar-form navbar-left">#}
{#    <div class="input-group">#}
{#        <input type="text" name="q" class="form-control" placeholder="Search...">#}
{#                      <span class="input-group-btn">#}
{#                        <button type="submit" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>#}
{#                      </span>#}
{#    </div>#}
{#</form>#}